.slim-btn-meta {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 150 129' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M142 100h-38.6L75 128.4 46.6 100H8c-4.4 0-8-3.6-8-8V8c0-4.4 3.6-8 8-8h134c4.4 0 8 3.6 8 8v84c0 4.4-3.6 8-8 8zm-8-80c0-2.2-1.8-4-4-4H20c-2.2 0-4 1.8-4 4v60c0 2.2 1.8 4 4 4h30l25 25 25-25h30c2.2 0 4-1.8 4-4V20zM24 44c0-5 2.7-8 6-8h22c3.3 0 6 3.6 6 8s-2.7 8-6 8H30c-3.3 0-6-3-6-8zm42 0c0-5 2.7-8 6-8h48c3.3 0 6 3.6 6 8s-2.7 8-6 8H72c-3.3 0-6-3-6-8zM24 68c0-5 2.7-8 6-8h90c3.3 0 6 3.6 6 8s-2.7 8-6 8H30c-3.3 0-6-3-6-8z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E%0A"); }

.slim-btn-wrapper {
  position: relative;
  display: inline-block; }

.slim-btn-panel {
  position: absolute;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: .25em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  margin-bottom: 1em;
  z-index: 3;
  display: none;
}

.slim-btn-panel .form-group,
.slim-btn-panel .control-group {
  white-space: nowrap;
}

.slim-btn-panel .form-group + .form-group,
.slim-btn-panel .control-group + .control-group {
  margin-top: .5em;
}

.slim-btn-panel input {
  height: 24px;
  padding: 3px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.slim-btn-panel input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.slim-btn-panel label {
  width: 80px;
  text-align: right;
  display: inline-block;
  font-size: 14px;
  padding: .5em;
}

.slim-btn-panel--arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  display: block;
  width: 1em;
  height: 1em;
  background: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: transparent #ccc #ccc transparent;
}

.slim-collection {
  margin-left: -8px;
  margin-right: -8px;
  width: 100%;
}

.slim-collection .slim {
  padding: 8px;
  background-clip: content-box;
  position: relative;
  float: left;
  width: 33.3333%;
}

.slim-collection .slim:nth-of-type(3n+4) {
  clear: both;
}

.slim-collection .slim-area {
  margin: auto;
  cursor: move;
}

.slim-collection:before,
.slim-collection:after {
  content: " ";
  display: table;
}

.slim-collection:after {
  clear: both;
}

.slim-collection .slim-area .slim-result {
  left: 8px;
  top: 8px;
  right: 8px;
  bottom: 8px;
}

.slim .slim-btn-group {
  overflow: visible;
}