.section__title{
    color: #FFF;
}
.navbar{
    background-color: #ADD24A;
    margin: 0;
}
#navbar a{
    color: #FFF;
}
.follow-us{
    background-color: #6A2C8E;
    padding:5px 0;
}
nav .topbar .follow-us span.text{
    color: #FFF;
    font-size: 14px;
}
nav .topbar .follow-us span.icon{
    background-color: #6A2C8E;
    margin: 0 0 0 5px;
}