
<section id="list-news" class="section list-news col-lg-8 col-md-12 col-sm-12">
<?php
echo $this->element('node_metas');
//se listou um conteúdo
if(isset($this->params['type']) && !empty($this->params['type'])) {
	$titulo = $this->Mswi->typeName($this->params['type']); 
}else{
	$titulo = 'Resultado da pesquisa';
}
//Configura o breadcrumb
$this->Html->addCrumb($titulo, $this->here);
?>
	<style>
		.gsc-control-cse{
			line-height: normal;
		}
		.gsc-control-cse form{
			line-height: 0;
		}
		.gsc-adBlock{
			display: none;
		}
		.gsc-control-cse table{
			margin: 0;
		}
	</style>

	<div class="container">
		<script>
		(function() {
			var cx = '013231588351067399502:4kjgbtmiqje';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		})();
		</script>
		<gcse:search></gcse:search>
	</div>
</section>