<h2>Folhapress</h2>

<blockquote><?php echo 'Procurando no diretório: '. $xmlsDIr; ?></blockquote>
<blockquote><?php echo 'Arquivos encontrados '. count($files); ?></blockquote>
<?php
 echo $this->Form->create('Folhapress',array('url'=>$this->here));
//se encontrou algum arquivo
if(isset($files) && !empty($files)){?>
	<div id="arquivos">
		<ul>
			<?php
			foreach($files as $arquivo){ ?>
				<li>
					<?php echo $arquivo; ?>
				</li>
			<?php } ?> 
		</ul>
	</div>
	
	<div class="buttons">
		<a href="/folhapress/folhapress/importar/1/0" class="btn btn-default">Importar 1 arquivo manualmente</a>
	</div>
<?php }else{
	echo 'Nenhum arquivo encontrado';
} 
  echo $this->Form->end();
?>