<div class="row">
    <div class="span3"></div>
    <div class="span4">
        <h5>Respostas</h5>
    </div>
</div>

<ul ui:sortable ng:model="answers" style="list-style:none; margin:0;">
    <li ng:repeat="answer in answers">
		<div class="control-group">
			<label class="control-label"><i class="icon-move" style="cursor: move"></i></label>
			<div class="controls control-rows">
				<input type="hidden" name="data[PollOption][{{$index}}][id]" value="{{answer.id}}" class="span2">
				<input type="hidden" name="data[PollOption][{{$index}}][ordered]" value="{{$index+1}}" class="span2">
				<input type="text" name="data[PollOption][{{$index}}][option]" value="{{answer.text}}" class="span4">
				<a ng-click="removeAnswer($index)" class="btn btn-small" href="javascript:;;"><i class="icon-trash"></i></a>
			</div>
		</div>
    </li>
</ul>

<div class="control-group">
	<label class="control-label">&nbsp;</label>
	<div class="controls control-rows">
		<input type="text" ng-model="answerText" class="span4" placeholder="Adicione nova resposta aqui" required>
		<input ng-click="addAnswer()" class="btn btn-primary" ng-disabled="myForm.$invalid" type="button" value="Adicionar">
	</div>
</div>


