<?php
$mode 	= "place"; 
$apiKey = "AIzaSyBPDraKzslTLKiT9xiumHXxWZdlAdM9GoM";
$street = (isset($node['CustomFields']['endereco']) && !empty($node['CustomFields']['endereco'])) ? urlencode($node['CustomFields']['endereco']) : null;
?>

<iframe width="860" height="450" frameborder="0" style="border:0" 
 src="https://www.google.com/maps/embed/v1/<?php echo $mode ?>?key=<?php echo $apiKey ?>
    &q=<?php echo $street ?>" allowfullscreen>
</iframe>

<!-- <section class="s-article">
<article class="c-article">
   <div class="c-article_content">
      <div class="o-news_embed o-news_embed--16by9"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14558.522482733299!2d-53.0151585!3d-24.1846839!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd7058120ba6ae32b!2sJornal+Gazeta+Regional!5e0!3m2!1spt-BR!2sbr!4v1442756588180" width="1000" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe></div>
   </div>
</article>
</section> -->