<?php 
if (!empty($nodesList)) { ?>   

    <section class="s-gallery-list u-spacer_bottom">
        <header class="o-header"><a href="/galeria" class="o-header_title">Galeria de Imagens </a></header>
        <div class="row">
            <?php foreach($nodesList as $n){ ?>
            <div class="col-sm-4">
            <div class="o-news">
                <a href="<?php echo $this->Html->url($n['Node']['path']) ?>" class="o-news_content">
                <?php 
                $imagemUrlArray = array(
                    'plugin'        => 'Multiattach',
                    'controller'    => 'Multiattach',
                    'action'        => 'displayFile', 
                    'admin'         => false,
                    'filename'      => $n['Multiattach']['filename'],
                    'dimension'     => '640x400'
                );
                $linkImagem = $this->Html->url($imagemUrlArray);
                $imageTitle = htmlspecialchars((isset($n['Multiattach']['meta']) && !empty($n['Multiattach']['meta']) ? $n['Multiattach']['meta'] : $n['Node']['title']), ENT_QUOTES, 'UTF-8');
                ?>
                <img src="<?php echo $linkImagem?>" class="o-news_image" alt="<?php echo $imageTitle ?>" />
                <span class="o-news_title o-news_title--large"><?php echo $n['Node']['title'] ?></span> 
                </a>
            </div>
            </div>
            <?php } ?>
        </div>
    </section>
<?php } ?>