<div class="col-box container">
	<article>
		<header class="container">
			<div class="heading" role="heading">
				<span class="headover">Transporte Coletivo</span>
				<h1>Agências bancárias da Grande Curitiba sofrem ataques da `gangue do guarda-sol`</h1>
			</div>
		</header>
	</article>
	<article>
		<header class="container">
			<div class="heading" role="heading">
				<span class="headover">Transporte Coletivo</span>
				<h1>Agências bancárias da Grande Curitiba sofrem ataques da `gangue do guarda-sol`</h1>
			</div>
		</header>
	</article>
	<article>
		<header class="container">
			<div class="heading" role="heading">
				<span class="headover">Transporte Coletivo</span>
				<h1>Agências bancárias da Grande Curitiba sofrem ataques da `gangue do guarda-sol`</h1>
			</div>
		</header>
	</article>
</div>