<h2>Rodando...</h2>

<?php 
$baseUrl    = Router::url('/', true);

//se ainda tem TERMOS pra importar
if(isset($termoId) && $termoId > 0){

	echo 'ultimo ID: '.$ultimo_id.' - <b>Processado '.$termTitle.'</>...';

	//se ainda tem NOTICIAS pra importar
	if($ultimo_id > 0){ 
		$urlRedirect = $baseUrl.'admin/importar/ferramentas/ajustar_editorias/'.$termoId.'/'.$ultimo_id;
	}else{
		//Se não, 
		//chama o próximo termo
		$termoId = $termoId + 1;
		$urlRedirect = $baseUrl.'admin/importar/ferramentas/ajustar_editorias/'.$termoId ;
		//pr($urlRedirect);exit();
	}
	?>
	<script>
		window.setTimeout('window.location.href = "<?php echo $urlRedirect; ?>"', 3000); 
	</script>
	<?php
}else{
	echo 'Processo concluído';
}
?>