<h2>Não foi possível encontrar esta pagina</h2>
<h4>Tente buscar o conteúdo no campo abaixo!</h4>
<?php 
$value = '';
if(isset($this->params->query['q']) && !empty($this->params->query['q'])){
	$value = trim($this->params->query['q']);
}
?>
<form action="/search">
	<input type="text" name="q" value="<?php echo $value; ?>" />
	<input type="submit"  value="buscar"/>
</form>