<h2>Importando...</h2>

<blockquote><?php echo 'Procurando no diretório: '. $xmlsDir; ?></blockquote>
<blockquote><?php echo 'Arquivos XMLs restantes: '. $xmlsRestantes; ?></blockquote>
<?php if(isset($nodesRestantes)){?>
	<blockquote><?php echo 'Nodes restantes do arquivo atual: '. $nodesRestantes; ?></blockquote>
<?php } 
//se encontrou algum arquivo
if($xmlsRestantes > 0 || (isset($nodesRestantes) && $nodesRestantes > 0)){?>
	<script>
		window.setTimeout('location.reload()', 2000); 
	</script>
<?php }else{
	echo 'Processo concluído';
} 
?>