<h2>Importar</h2>

<blockquote><?php echo 'Procurando no diretório: '. $xmlsDIr; ?></blockquote>
<blockquote><?php echo 'XMLs encontrados '. count($xmls); ?></blockquote>
<blockquote><?php echo 'TXTs encontrados '. count($txt); ?></blockquote>
<?php
//se encontrou algum arquivo
if(!empty($xmls) || !empty($txt)){?>
	<div class="buttons">
		<a href="/admin/importar/importar/importar" class="btn btn-default">Importar</a>
	</div>
<?php }else{
	echo 'Nenhum XML arquivo encontrado';
} 
?>