<h2>Agência</h2>

<blockquote><?php echo 'Procurando no diretório: '. $xmlsDIr; ?></blockquote>
<?php
 echo $this->Form->create('Agencia',array('url'=>$this->here));
//se encontrou algum arquivo
if(isset($files) && !empty($files)){?>
	<div id="arquivos">
		<ul>
			<?php
			foreach($files as $arquivo){ ?>
				<li>
					<?php echo $arquivo; ?>
				</li>
			<?php } ?> 
		</ul>
	</div>
	
	<div class="buttons">
		<?php echo $this->Form->submit('Importar'); ?>
	</div>
<?php }else{
	echo 'Nenhum arquivo encontrado';
} 
  echo $this->Form->end();
?>