#guia {}

#guia h4 {
    margin: 10px;
}
#filtros{
    margin: 10px 0;
}
#filtros ul{
    padding-left: 10px;
}
#filtros ul li{
    list-style: none;
}
#filtros .o-poll_options{
    padding: 0;
}
#filtros .bold{
    font-weight: bold;
}