<h2>Migrando...</h2>

<?php if(isset($nodesRestantes)){?>
	<blockquote><?php echo 'Nodes restantes do arquivo atual: '. $nodesRestantes; ?></blockquote>
<?php } 
//se encontrou algum arquivo
if($nodesRestantes > 0){?>
	<script>
		window.setTimeout('location.reload()', 2000); 
	</script>
<?php }else{
	echo 'Processo concluído';
} 
?>