<?php echo $this->element('node_metas'); ?>
<div class="title-section">
	<h1>
		<span>
            <?php echo $title; ?>
		</span>
	</h1>
</div>
<div class="single-post-box">      
    <?php 
    echo $this->Mswi->verMaisAjax('editorias_ajax', $slug, 1, 6);
    ?> 
</div>