<?php echo $this->element('node_metas'); ?>
<div class="title-section">
	<h1>
		<span>
			<?php
			//se teve uma pesquisa
			if(isset($this->params['type']) && !empty($this->params['type'])) {
				echo$this->Mswi->typeName($this->params['type']);
			}else{
				echo'Resultado da pesquisa';
			}
			?>
		</span>
	</h1>
</div>
<div class="single-post-box">       
	<?php 
	echo $this->Mswi->verMaisAjax('tipo_ajax', $slug, 1, 6);
	?> 
</div>