.o-header {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  position: relative
}

.o-widget:first-child>.o-header {
  margin-top: 0
}

.o-header_read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase
}

.o-header_read-more:hover {
  text-decoration: none;
}

.o-header_read-more .i-icon {
  margin-left: 8px
}

.o-news_category {
  display: block;
  position: relative;
  margin-top: 8px;
  padding-bottom: 0;
  text-transform: uppercase;
  overflow: hidden;
  line-height: 1.5;
  vertical-align: middle;
  border-left-width: 8px;
  border-left-style: solid;
  padding-left: 8px;
  -webkit-transition: border-color .15s,color .2s;
  transition: border-color .15s,color .2s
}

.o-classificados {
  clear: both;
  display: block;
  margin-bottom: 8px
}

.o-classificados:after,.o-classificados:before {
  content: " ";
  display: table
}

.o-classificados:after {
  clear: both
}

.o-classificados_category,.o-classificados_content,.o-classificados_figure {
  display: block
}

.o-classificados_category {
  padding-bottom: 0;
  text-transform: uppercase;
  overflow: hidden;
  line-height: 1
}

.o-classificados_category:first-child {
  padding-top: 0
}

.o-classificados_category:hover {
  text-decoration: none
}

.o-classificados_figure {
  padding-top: 4px;
  padding-bottom: 4px
}

.o-classificados_content {
  padding-top: 4px;
  padding-bottom: 8px
}

.o-classificados_content:hover {
  text-decoration: none
}

.o-classificados_title {
  display: block;
  overflow: hidden;
  padding-top: 4px
}

.o-classificados_title:first-child {
  padding-top: 0
}

.o-classificados_price {
  display: block;
  text-align: right;
  font-size: 1.25em;
  font-weight: 700;
  white-space: pre-wrap;
  word-wrap: break-word
}

.o-classificados_price:before {
  content: "R$\00a0";
  font-size: .75em;
  font-weight: 400
}

.o-classificados_header {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* padding-top: 16px; */
  padding-bottom: 16px;
  /* margin-bottom: 16px; */
  border-bottom-width: 1px;
  border-bottom-style: solid
}

.o-classificados_header-title {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap
}

.o-classificados_header-title .i-icon {
  display: inline-block;
  font-size: 1em;
  text-align: center
}

.o-classificados_header-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -ms-flex-preferred-size: 44px;
  flex-basis: 44px
}

.o-classificados_header-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  padding-left: 1em;
  border-radius: 1.5em 0 0 1.5em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-transition: border-color .16s;
  transition: border-color .16s;
  margin-bottom: 0 !important
}

.o-classificados_header-input:focus {
  outline: 0
}

.o-classificados_header-btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  padding-right: 1em;
  border-radius: 0 1.5em 1.5em 0;
  text-transform: uppercase;
  -webkit-transition: border-color .16s;
  transition: border-color .16s;
  white-space: nowrap;
  height: 45px
}

.o-classificados_header-btn .i-icon {
  display: inline-block;
  margin-right: .5em
}

.o-classificados_header-backdrop {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 1.5em;
  -webkit-transition: box-shadow .16s;
  transition: box-shadow .16s
}

.o-classificados_filters {
  width: 100%;
  border-width: 1px;
  border-style: solid
}

.o-classificados_filters-toggle {
  display: block;
  text-transform: uppercase
}

.o-classificados_filters-panel {
  margin-bottom: 16px
}

.o-classificados_filters-panel:after,.o-classificados_filters-panel:before {
  content: " ";
  display: table
}

.o-classificados_filters-panel:after {
  clear: both
}

.o-classificados_filters .dropdown {
  float: none
}

.o-classificados_filters .dropdown-toggle {
  display: block;
  padding: 16px;
  white-space: nowrap
}

.o-classificados_list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px
}

.o-classificados_list .dropdown-toggle {
  display: block;
  border-width: 1px;
  border-style: solid;
  padding: 8px 16px;
  border-radius: 1.5em
}

.o-classificados_n-anuncios {
  color: red;
  font-weight: 700;
  font-size: 1.25em;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1
}

.c-classificados_banner {
  background-position: 50%;
  background-size: cover;
  padding: 16px 16px 24px;
  margin-bottom: 32px
}

.c-classificados_banner-title {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center
}

.c-classificados_search {
  padding: 8px;
  border-radius: .5em
}

.c-classificados_tabs {
  padding-left: 0;
  margin-bottom: 8px;
  list-style: none;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex
}

.c-classificados_tab {
  position: relative;
  display: inline-block;
  padding: 4px 16px;
  font-size: 1.4rem;
  text-transform: uppercase;
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg)
}

.c-classificados_tab a {
  display: block;
  -webkit-transform: skew(20deg);
  transform: skew(20deg);
  color: #ffffff
}

.c-classificados_tab.active:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) skew(20deg);
  transform: translateX(-50%) skew(20deg);
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px;
  border-color: transparent transparent #fff
}

.c-classificados_tab+.c-classificados_tab {
  border-left-width: 1px;
  border-left-style: solid
}

.c-classificados_tab .i-icon {
  display: inline-block;
  font-size: 2em;
  text-align: center
}

.c-classificados_panes {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: .5em
}

.c-classificados_form {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}

.c-classificados_select {
  width: 100%!important;
  border: 0;
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  -js-display: flex!important;
  display: flex!important
}

.c-classificados_select .btn {
  border: 0;
  border-radius: 0;
  padding-left: 16px;
  padding-right: 16px
}

.c-classificados_group+.c-classificados_group {
  border-left-width: 1px;
  border-left-style: solid
}

.c-classificados_select-group {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%
}

.c-classificados_input-group,.c-classificados_select-group {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-flex: 1
}

.c-classificados_input-group {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 1px;
  flex-basis: 1px;
  margin-top: 4px;
  padding-left: 8px;
  padding-right: 8px
}

.c-classificados_submit-group {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  border-left: 0!important
}

.c-classificados_input {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%
}

.c-classificados_btn,.c-classificados_input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0
}

.c-classificados_btn {
  padding: 8px 24px;
  text-transform: uppercase;
  border-radius: 1.5em;
  font-size: 1.125em
}

.c-classificados_btn .i-icon {
  display: inline-block
}

.c-classificados_title {
  font-weight: 700;
  margin-top: 0
}

.c-classificados_header:after,.c-classificados_header:before {
  content: " ";
  display: table
}

.c-classificados_header:after {
  clear: both
}

.c-classificados_category {
  display: inline-block
}

.c-classificados_title-wrapper {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.c-classificados_price {
  position: relative;
  display: block;
  margin-left: 16px;
  padding: 4px 32px;
  font-weight: 700;
  text-align: left;
  -ms-flex-item-align: start;
  align-self: flex-start;
  white-space: nowrap
}

.c-classificados_price:before {
  color: inherit
}

.c-classificados_price:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  border-style: solid;
  border-width: .84375em 16px .84375em 0
}

.c-classificados_post-content {
  margin-bottom: 32px
}

.c-classificados_contact {
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 32px
}

.c-classificados_contact-group+.c-classificados_contact-group {
  margin-top: 1em;
  padding-top: 1em;
  border-top-width: 1px;
  border-top-style: solid
}

.c-classificados_contact-form textarea {
  resize: vertical
}

.c-classificados_contact-form .form-group {
  margin-bottom: 8px
}

.c-classificados_contact-form label {
  margin-bottom: 0
}

.c-classificados_contact-btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  border: 0;
  margin-top: 16px;
  padding: 8px 32px;
  width: 100%;
  border-radius: 1.5em;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700
}

.c-classificados_contact-btn:hover {
  text-decoration: none
}

@media (min-width: 768px) {
  .o-classificados_header {
      -webkit-box-orient:horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row
  }

  .o-classificados_header-title {
      margin-bottom: 0
  }

  .o-classificados_header-title .i-icon {
      margin-right: 8px
  }

  .o-classificados_header-form {
      -ms-flex-preferred-size: 350px;
      flex-basis: 350px
  }

  .o-classificados_filters-toggle {
      display: none
  }

  .o-classificados_filters-panel .collapse {
      height: auto!important;
      display: block
  }

  .o-classificados_filters {
      display: -webkit-box;
      display: -ms-flexbox;
      -js-display: flex;
      display: flex;
      box-shadow: 0 5px 1px -3px rgba(0,0,0,.1)
  }

  .o-classificados_filters .dropdown {
      float: left;
      border-right-width: 1px;
      border-right-style: solid
  }

  .o-classificados_list .col-sm-4:nth-child(3n+4) {
      clear: both
  }

  .o-classificados_n-anuncios {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2
  }

  .c-classificados_banner {
      padding: 32px 32px 48px
  }

  .c-classificados_tab {
      padding: 4px 32px;
      font-size: 1.8rem
  }

  .c-classificados_tab .i-icon {
      font-size: 1em;
      margin-right: 8px
  }

  .c-classificados_form {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap
  }

  .c-classificados_select {
      width: auto!important
  }

  .c-classificados_select .btn {
      padding-left: 32px;
      padding-right: 32px
  }

  .c-classificados_select-group {
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0
  }

  .c-classificados_btn .i-icon {
      margin-right: 8px
  }

  .c-classificados_price:after {
      right: 0;
      left: auto;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      border-width: 1.07em 0 1.07em 16px
  }
}

@media (max-width: 767px) {
  .o-classificados_filters .dropdown-menu {
      position:relative;
      float: none;
      border-width: 1px 0;
      box-shadow: none;
      border-radius: 0;
      width: 100%;
      box-shadow: inset 0 2px 2px rgba(0,0,0,.1),inset 0 -2px 2px rgba(0,0,0,.1)
  }

  .o-classificados_list .col-xs-6:nth-child(2n+3) {
      clear: both
  }
}

@media (min-width: 992px) {
  .c-classificados_input-group {
      margin-top:0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto
  }
}
