* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    box-sizing: border-box;
}

.pageflip {
    height: 100vh;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

.pageflip nav {
    background-color: #fff;
    text-align: center;
    padding: 8px;
}

.pageflip nav .navigation {
    float: left;
}

.pageflip nav .navigation a {
    color: #000000;
    padding: 10px;
}

.pageflip nav .title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.container {
    background-color: gray;
    width: 100vw;
    overflow: hidden;
}

.pdf-viewer {
    height: calc(100vh - 39px);
}

.pdf-page {
    margin: 15px;
}

.pdf-viewer img {
    height: calc(100vh - 95px);
    max-width: 100%;
}

/* Slick */
.slick-prev, .slick-next {
    position: fixed !important;
    top: calc(50vh - 100px) !important;
    z-index: 105 !important;
    width: 28px !important;
    color: #fff !important;
    background-color: rgb(0, 0, 0) !important;
    padding: 85px 10px !important;
    height: 31px !important;
    opacity: 0.2 !important;
    border-radius: 5px !important;
    cursor: pointer;
}

.slick-prev {
    left: 10px !important;
}

.slick-next {
    right: 10px !important;
}

.slick-dots {
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100vw;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots .slick-active {
    background-color: lightgray;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    display: block;
    padding: 5px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: transparent;
    text-transform: uppercase;
}

/* Lightbox2 */
.lb-outerContainer {
    width: 80vw !important;
    overflow: hidden !important;
    border-radius: 0 !important;
    height: 90vh !important;
}

.lb-image {
    width: auto !important;
    height: auto !important;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.ui-draggable-dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.lb-dataContainer {
    display: none !important;
}

.lb-nav {
    display: none !important;
}

/* Zoom buttons */
.btns-zoom {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.btn-zoom {
    padding: 6px;
    border-radius: 4px;
    color: #808080;
    background-color: rgba(211, 211, 211, .9);
    margin-bottom: 2px;
}

.btn-zoom:not(:last-of-type) {
    margin-right: 2px;
}

.btn-zoom:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-zoom:disabled, .btn-zoom.disabled {
    opacity: .5;
}

.btn-zoom:hover {
    color: #6f6e6e;
    background-color: rgba(194, 193, 193, 0.9);
}
