@media only screen and (min-width: 500px) {
    .o-header{
        margin-top: 0px;
    }
    .o-login_content{
        width: 80%;
        margin: 0 auto;
    }
    .border-left{
        border-left: 1px solid #CCC;
    }
    .border-right{
        border-right: 1px solid #CCC;
    }
    .margin-top{
        margin-top: 30px;
    }
    .margin-bottom{
        margin-bottom: 30px;
    }
}