<h2>Exportando...</h2>

<?php 
$baseUrl    = Router::url('/', true);
//se foi processado algum arquivo
if(isset($ultimo_id) && $ultimo_id > 0){ 
	$urlRedirect = $baseUrl.'admin/importar/exportar/gerar_noticias_xml/'.$ultimo_id;
	?>
	<blockquote><?php echo 'Último arquivo gerado: '. $arquivo_gerado; ?></blockquote>
	<script>
		window.setTimeout('window.location.href = "<?php echo $urlRedirect; ?>"', 3000); 
	</script>
<?php }else{
	echo 'Processo concluído';
} 
?>