<?php 
if(!empty($nodesList)){
	$editoriaTitle = 'Não informado';
	$editoriaSlug = '';
	if(isset($nodesList[0]['Editoria']['title']) && !empty($nodesList[0]['Editoria']['title'])){
		$editoriaTitle = $nodesList[0]['Editoria']['title'];
		$editoriaSlug = $nodesList[0]['Editoria']['slug'];
	}
?>
	<ul>
		<li id="bunyad-posts-widget-2" class="widget widget-posts">
			<h5 class="widget-title">
				<span>
					<?php 
					if($block['Block']['show_title']){
						echo $block['Block']['title'];
					}else{
						echo $editoriaTitle;					
					}
					?>
				</span>
			</h5>
			<ul class="posts cf full">
				<?php 				
				foreach($nodesList as $n){ ?>
					<li class="post cf">
						<article class="grid-post post-983 post type-post status-publish format-standard has-post-thumbnail category-beauty tag-beauty tag-featured">
							<div class="post-header">
							<?php 
							//se tem imagem
							if(isset($n['Multiattach']) && !empty($n['Multiattach']['filename'])){
								$imagemUrlArray = array(
									'plugin'		=> 'Multiattach',
									'controller'	=> 'Multiattach',
									'action'		=> 'displayFile', 
									'admin'			=> false,
									'filename'		=> $n['Multiattach']['filename'],
									'dimension'		=> '474largura'
								);
								$imagemUrl = $this->Html->url($imagemUrlArray);
								$imageTitle = htmlspecialchars((isset($n['Multiattach']['meta']) && !empty($n['Multiattach']['meta']) ? $n['Multiattach']['meta'] : $n['Node']['title']), ENT_QUOTES, 'UTF-8');
								?>
									<div class="post-thumb">
										<a href="<?php echo $n['Node']['path']; ?>" class="image-link">
											<div class="lazyload">
												<!--
												<img width="370" height="247" 
												src="<?php echo $imagemUrl; ?>" 
												class="attachment-cheerup-grid size-cheerup-grid wp-post-image" 
												title="<?php echo $imageTitle; ?>" /> 
												-->
											</div>
										</a> 
										<span class="counter"></span>
									</div>
								<?php } ?>
								<div class="meta-title">
									<div class="post-meta post-meta-c">
										<h2 class="post-title-alt">
											<a href="<?php echo $n['Node']['path']; ?>" >
												<?php echo $n['Node']['title']; ?>
											</a>
										</h2> 
									</div>
								</div>
							</div>
						</article>
					</li>					
				<?php } ?>
			</ul>
		</li>
	</ul>
				
<?php } ?>