html {
    scroll-behavior: smooth;
}

a {
    color: #b31e23;
}
a:hover {
    color: #a71a1f;
}
a.read-more {
    text-transform: uppercase;
    font-size: 11px;
}
a.editoria {
    text-transform: uppercase;
    font-size: 12px;
}

.bg-dark {
    background-color: #221f20 !important;
}

.bg-blue {
    background-color: #475e88 !important;
}

.bg-wine {
    background-color: #b31e23 !important;
}

.topbar .nav-link {
    color: #ffffff;
}

.brand {
    background-color: #475e88;
    background-image: linear-gradient(to right, #b31e23 30%, #475e88 30%);
    border-top: 5px solid #ffffff;
    min-height: 50px;
}

.banner {
    background-color: rgba(0, 0, 0, .05);
    margin: 15px auto;
    width: 300px;
    height: 250px;
}
.banner-right {
    background-color: rgba(0, 0, 0, .05);
    margin: 15px auto;
    width: 300px;
    height: 250px;
}

.footer .btn-link {
    color: #ffffff;
}

.hr-light {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

#carouselDestaques {
    border-top: 15px solid #475e88;
}

.news-box a, 
#carouselDestaques a, 
#carouselGaleria a {
    color: inherit;
    text-decoration: none;
}

.edicao-impresso-box {
    text-align: center;
}

.title-box {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 13px;
}

.title-gallery {
    text-transform: uppercase;
    text-align: center;
}

.news-box {
    text-align: center;
}
.news-box a.editoria,
.news-box h1,
.news-box p {
    text-align: left;
}

.carousel-caption {
    text-align: left;
    left: 5%;
    right: 5%;
}
.carousel-caption.box-content {
    text-align: left;
    left: 8%;
    right: 8%;
    bottom: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.main-news .row:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.main-news .row {
    padding: 15px 0;
}

.menu-footer {
    background-color: #475e88;
    min-height: 25px;
    padding-left: 0;
    padding-right: 0;
}
.menu-footer .nav-link {
    color: #ffffff;
}

.offcanvas-menu {
    height: 100%;
    min-width: 165px;
    position: fixed;
    z-index: 19;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 5px;
    display: none;
}
.offcanvas-menu .close {
    color: #ffffff;
    text-shadow: none;
}
.offcanvas-menu .nav-link {
    color: #ffffff;
}
.offcanvas-menu::-webkit-scrollbar {
    width: 5px;
}
.offcanvas-menu::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .5); 
}
.offcanvas-menu::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5); 
}
.offcanvas-menu::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .9); 
}

.searchbar {
    position: fixed;
    z-index: 19;
    display: none;
    top: 0;
    right: 0;
    max-width: 70%;
}
.searchbar .form-control {
    background-color: transparent;
    border: none;
    color: #ffffff;
}
.searchbar .form-control:focus {
    box-shadow: none;
}

#conteudo .row {
    padding: 15px 0;
    position: relative;
}
#conteudo .row:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    margin-bottom: 1rem;
}
#conteudo .row .date {
    color: #a8a8a8;
    text-transform: uppercase;
    font-size: 13px;
    background-color: rgba(0, 0, 0, .05);
    display: inline-block;
    border-radius: 4px;
    padding: 2px 4px;
    margin-bottom: .5rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .brand .logo {
        margin-left: 15%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .banner {
        width: 728px;
        height: 90px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .brand .logo {
        margin-left: 18%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .brand .logo {
        margin-left: 22%;
    }
    #conteudo .row:not(:last-of-type) {
        border-bottom: none;
        margin-bottom: 0;
        border-left: 2px solid rgba(0, 0, 0, .05);
    }
    #conteudo .row:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -6px;
        width: 10px;
        height: 10px;
        border-radius: 6px;
        background: #fff;
        border: 1px solid #b31e23;
    }
    #conteudo .row .date {
        position: absolute;
        display: block;
        top: -22px;
        left: -331px;
        padding: 2px 8px 2px 4px;
        margin-bottom: 0;
    }
}


/* Full HD Extra large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
    .brand .logo {
        margin-left: 24%;
    }
}
