<!-- Headings -->
<div class=" well">
    <div class="row">
      <div class="col-lg-4 btn-warning">
        <div class="bs-example bs-example-type list-first">
          <h2>Admission</h2>
          <ul>
          	<li><a href="<?php echo $this->base; ?>">&raquo; Admission Procedures</a></li>
          	<li><a href="<?php echo $this->base; ?>">&raquo; Requirements</a></li>
          	<li><a href="<?php echo $this->base; ?>">&raquo; Promo / Discounts</a></li>
          </ul>
        </div>  
      </div>
      
      <div class="col-lg-4 btn-info">

        <h2>Academics</h2>
        <div class="bs-example list">
        	<ul>
            	<li><a href="<?php echo $this->base ?>">&raquo; Pre Elementary</a></li>
          		<li><a href="<?php echo $this->base; ?>">&raquo; Elementary</a></li>
          		<li><a href="<?php echo $this->base; ?>">&raquo; High School</a></li>
          </ul>  
        </div>
        
      </div>

      <div class="col-lg-4 btn-danger">

        <h2>Facilities</h2>
        <div class="bs-example list">
        	<ul>
            	<li><a href="<?php echo $this->base; ?>">&raquo; Library</a></li>
          		<li><a href="<?php echo $this->base; ?>">&raquo; Laboratories</a></li>
          		<li><a href="<?php echo $this->base; ?>">&raquo; Playground</a></li>
          </ul>  
        </div>
        
      </div>
    </div>
</div>    
