.o-classificados {
    clear: both;
    display: block;
    margin-bottom: 8px
}

.o-classificados:after, .o-classificados:before {
    content: " ";
    display: table
}

.o-classificados:after {
    clear: both
}

.o-classificados_category, .o-classificados_content, .o-classificados_figure {
    display: block
}

.o-classificados_category {
    padding-bottom: 0;
    text-transform: uppercase;
    overflow: hidden;
    line-height: 1
}

.o-classificados_category:first-child {
    padding-top: 0
}

.o-classificados_category:hover {
    text-decoration: none
}

.o-classificados_figure {
    padding-top: 4px;
    padding-bottom: 4px
}

.o-classificados_content {
    padding-top: 4px;
    padding-bottom: 8px
}

.o-classificados_content:hover {
    text-decoration: none
}

.o-classificados_title {
    display: block;
    overflow: hidden;
    padding-top: 4px
}

.o-classificados_title:first-child {
    padding-top: 0
}

.o-classificados_price {
    display: block;
    text-align: right;
    font-size: 1.25em;
    font-weight: 700;
    white-space: pre-wrap;
    word-wrap: break-word
}

.o-classificados_price:before {
    content: "R$\00a0";
    font-size: .75em;
    font-weight: 400
}

.o-classificados_price_white:before {
    content: "R$\00a0";
    font-size: .75em;
    font-weight: 400
}

.o-classificados_header {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom-width: 1px;
    border-bottom-style: solid
}

.o-classificados_header-title {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap
}

.o-classificados_header-title .i-icon {
    display: inline-block;
    font-size: 1em;
    text-align: center
}

.o-classificados_header-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -ms-flex-preferred-size: 44px;
    flex-basis: 44px
}

.o-classificados_header-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    padding-left: 1em;
    border-radius: 1.5em 0 0 1.5em;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-transition: border-color .16s;
    transition: border-color .16s
}

.o-classificados_header-input:focus {
    outline: 0
}

.o-classificados_header-btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    padding-right: 1em;
    border-radius: 0 1.5em 1.5em 0;
    text-transform: uppercase;
    -webkit-transition: border-color .16s;
    transition: border-color .16s;
    white-space: nowrap
}

.o-classificados_header-btn .i-icon {
    display: inline-block;
    margin-right: .5em
}

.o-classificados_header-backdrop {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 1.5em;
    -webkit-transition: box-shadow .16s;
    transition: box-shadow .16s
}

.o-classificados_filters {
    width: 100%;
    border-width: 1px;
    border-style: solid
}

.o-classificados_filters-toggle {
    display: block;
    text-transform: uppercase
}

.o-classificados_filters-panel {
    margin-bottom: 16px
}

.o-classificados_filters-panel:after, .o-classificados_filters-panel:before {
    content: " ";
    display: table
}

.o-classificados_filters-panel:after {
    clear: both
}

.o-classificados_filters .dropdown {
    float: none
}

.o-classificados_filters .dropdown-toggle {
    display: block;
    padding: 16px;
    white-space: nowrap
}

.o-classificados_list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px
}

.o-classificados_list .dropdown-toggle {
    display: block;
    border-width: 1px;
    border-style: solid;
    padding: 8px 16px;
    border-radius: 1.5em
}

.o-classificados_n-anuncios {
    color: red;
    font-weight: 700;
    font-size: 1.25em;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1
}

.c-classificados_banner {
    background-position: 50%;
    background-size: cover;
    padding: 16px 16px 24px;
    margin-bottom: 32px
}

.c-classificados_banner-title {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center
}

.c-classificados_search {
    padding: 8px;
    border-radius: .5em
}

.c-classificados_tabs {
    padding-left: 0;
    margin-bottom: 8px;
    list-style: none;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex
}

.c-classificados_tab {
    position: relative;
    display: inline-block;
    padding: 4px 16px;
    font-size: 1.4rem;
    text-transform: uppercase;
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg)
}

.c-classificados_tab a {
    display: block;
    -webkit-transform: skew(20deg);
    transform: skew(20deg)
}

.c-classificados_tab.active:after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) skew(20deg);
    transform: translateX(-50%) skew(20deg);
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px;
    border-color: transparent transparent #fff
}

.c-classificados_tab+.c-classificados_tab {
    border-left-width: 1px;
    border-left-style: solid
}

.c-classificados_tab .i-icon {
    display: inline-block;
    font-size: 2em;
    text-align: center
}

.c-classificados_panes {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: .5em
}

.c-classificados_form {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.c-classificados_select {
    width: 100%!important;
    border: 0;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    -js-display: flex!important;
    display: flex!important
}

.c-classificados_select .btn {
    border: 0;
    border-radius: 0;
    padding-left: 16px;
    padding-right: 16px
}

.c-classificados_group+.c-classificados_group {
    border-left-width: 1px;
    border-left-style: solid
}

.c-classificados_select-group {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

.c-classificados_input-group, .c-classificados_select-group {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-flex: 1
}

.c-classificados_input-group {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 1px;
    flex-basis: 1px;
    margin-top: 4px;
    padding-left: 8px;
    padding-right: 8px
}

.c-classificados_submit-group {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    border-left: 0!important
}

.c-classificados_input {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%
}

.c-classificados_btn, .c-classificados_input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0
}

.c-classificados_btn {
    padding: 8px 24px;
    text-transform: uppercase;
    border-radius: 1.5em;
    font-size: 1.125em
}

.c-classificados_btn .i-icon {
    display: inline-block
}

.c-classificados_title {
    font-weight: 700;
    margin-top: 0
}

.c-classificados_header:after, .c-classificados_header:before {
    content: " ";
    display: table
}

.c-classificados_header:after {
    clear: both
}

.c-classificados_category {
    display: inline-block
}

.c-classificados_title-wrapper {
    margin-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.c-classificados_price {
    position: relative;
    display: block;
    margin-left: 16px;
    padding: 4px 32px;
    font-weight: 700;
    text-align: left;
    -ms-flex-item-align: start;
    align-self: flex-start;
    white-space: nowrap
}

.c-classificados_price:before {
    color: inherit
}

.c-classificados_price:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    border-style: solid;
    border-width: .84375em 16px .84375em 0
}

.c-classificados_post-content {
    margin-bottom: 32px
}

.c-classificados_contact {
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 32px
}

.c-classificados_contact-group+.c-classificados_contact-group {
    margin-top: 1em;
    padding-top: 1em;
    border-top-width: 1px;
    border-top-style: solid
}

.c-classificados_contact-form textarea {
    resize: vertical
}

.c-classificados_contact-form .form-group {
    margin-bottom: 8px
}

.c-classificados_contact-form label {
    margin-bottom: 0
}

.c-classificados_contact-btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    border: 0;
    margin-top: 16px;
    padding: 8px 32px;
    width: 100%;
    border-radius: 1.5em;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    font-weight: 700
}

.c-classificados_contact-btn:hover {
    text-decoration: none
}

@media (min-width:768px) {
    .o-classificados_header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .o-classificados_header-title {
        margin-bottom: 0
    }
    .o-classificados_header-title .i-icon {
        margin-right: 8px
    }
    .o-classificados_header-form {
        -ms-flex-preferred-size: 350px;
        flex-basis: 350px
    }
    .o-classificados_filters-toggle {
        display: none
    }
    .o-classificados_filters-panel .collapse {
        height: auto!important;
        display: block
    }
    .o-classificados_filters {
        display: -webkit-box;
        display: -ms-flexbox;
        -js-display: flex;
        display: flex;
        box-shadow: 0 5px 1px -3px rgba(0, 0, 0, .1)
    }
    .o-classificados_filters .dropdown {
        float: left;
        border-right-width: 1px;
        border-right-style: solid
    }
    .o-classificados_list .col-sm-4:nth-child(3n+4) {
        clear: both
    }
    .o-classificados_n-anuncios {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }
    .c-classificados_banner {
        padding: 32px 32px 48px
    }
    .c-classificados_tab {
        padding: 4px 32px;
        font-size: 1.8rem
    }
    .c-classificados_tab .i-icon {
        font-size: 1em;
        margin-right: 8px
    }
    .c-classificados_form {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .c-classificados_select {
        width: auto!important
    }
    .c-classificados_select .btn {
        padding-left: 32px;
        padding-right: 32px
    }
    .c-classificados_select-group {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0
    }
    .c-classificados_btn .i-icon {
        margin-right: 8px
    }
    .c-classificados_price:after {
        right: 0;
        left: auto;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        border-width: .84375em 0 .84375em 16px
    }
}

@media (max-width:767px) {
    .o-classificados_filters .dropdown-menu {
        position: relative;
        float: none;
        border-width: 1px 0;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1), inset 0 -2px 2px rgba(0, 0, 0, .1)
    }
    .o-classificados_list .col-xs-6:nth-child(2n+3) {
        clear: both
    }
}

@media (min-width:992px) {
    .c-classificados_input-group {
        margin-top: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
}

.c-classificados_banner {
    background-image: url(/images/classi-banner-bg.jpg)
}

.c-classificados_banner-title {
    color: #fff;
    font-size: 28px;
    text-shadow: 1px 1px #000
}

.c-classificados_search {
    background: rgba(0, 0, 0, .5)
}

.c-classificados_tab {
    color: #fff
}

.c-classificados_tab+.c-classificados_tab {
    border-left-color: #666
}

.c-classificados_panes {
    background: #fff
}

.c-classificados_group+.c-classificados_group {
    border-left-color: #ccc
}

.c-classificados_btn {
    background: #52b3f4;
    color: #fff
}

.c-classificados_btn .i-icon {
    color: #fff
}

.c-classificados_btn:hover {
    background: #1b2344;
    color: #fff
}

.c-classificados_btn:hover .i-icon {
    color: #fff
}

.c-classificados_category {
    color: #52b3f4;
    font-size: 14px
}

.c-classificados_category:hover {
    color: #1b2344
}

.c-classificados_title {
    color: #000;
    font-size: 28px
}

.c-classificados_price {
    color: #fff;
    background: #ec0e0e;
    font-size: 32px
}

.c-classificados_price:before {
    color: #fff
}

.c-classificados_price:after {
    border-color: transparent #ec0e0e
}

.c-classificados_contact {
    border-color: #f4d03f;
    background: #ffd;
    border-radius: 4px;
    font-size: 16px
}

.c-classificados_contact-group+.c-classificados_contact-group {
    border-top-color: rgba(0, 0, 0, .125)
}

.c-classificados_contact-form {
    font-size: 14px
}

.c-classificados_contact-form input, .c-classificados_contact-form textarea {
    border-color: #ccc;
    color: #555;
    background: #fff
}

.c-classificados_contact-form input:focus, .c-classificados_contact-form textarea:focus {
    border-color: #f1c40f;
    color: #555;
    background: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(243, 156, 18, .6)
}

.c-classificados_contact-btn {
    background: #f39c12;
    color: #fff;
    font-size: 18px;
    border-color: #e67e22
}

.c-classificados_contact-btn:hover {
    background: #f5b043;
    color: #fff
}

@media (min-width:768px) {
    .o-classificados_filters .dropdown {
        border-right-color: #ccc
    }
    .c-classificados_banner-title {
        font-size: 32px
    }
}

@media (max-width:767px) {
    .o-classificados_filters .dropdown-menu {
        background: #eee
    }
}

@media (min-width:1200px) {
    .c-classificados_banner-title {
        font-size: 36px
    }
}

.o-classificados_category {
    color: #52b3f4;
    letter-spacing: .015em;
    font-size: 14px
}

.o-classificados_category:hover, .o-classificados_price, .o-classificados_price:before {
    color: #1b2344
}

.o-classificados_price_white {
    color: white
}

.o-classificados_content {
    color: inherit
}

.o-classificados_content:hover {
    color: #000
}

.o-classificados_content:hover .o-classificados_price, .o-classificados_content:hover .o-classificados_price:before {
    color: #ec0e0e
}

.o-classificados_title {
    font-size: 16px
}

.o-classificados_header {
    border-bottom-color: #ccc
}

.o-classificados_header-title {
    color: #000;
    font-size: 20px
}

.o-classificados_header-input {
    border-color: #ccc
}

.o-classificados_header-input:focus, .o-classificados_header-input:focus+.o-classificados_header-btn {
    border-color: #2f68a7
}

.o-classificados_header-input:focus~.o-classificados_header-backdrop {
    box-shadow: 0 0 8px rgba(47, 104, 167, .6)
}

.o-classificados_header-btn {
    background: #fff;
    border-color: #ccc
}

.o-classificados_filters {
    border-color: #ccc;
    border-radius: 4px
}

.o-classificados_filters-toggle {
    font-size: 20px
}

.o-classificados_list .dropdown-toggle {
    border-color: #ccc
}

.o-classificados_n-anuncios {
    color: #e67e22
}

/* Dropdown BTWS */

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.dropdown, .dropup {
    position: relative
}

.dropdown-toggle:focus {
    outline: 0
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7
}

.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
    color: #777
}

.dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed
}

.open>.dropdown-menu {
    display: block
}

.open>a {
    outline: 0
}

.dropdown-menu-right {
    left: auto;
    right: 0
}

.dropdown-menu-left {
    left: 0;
    right: auto
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #777;
    white-space: nowrap
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990
}

.pull-right>.dropdown-menu {
    right: 0;
    left: auto
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
    content: ""
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px
}

/*Tabs*/

.nav-justified, .nav-tabs.nav-justified {
    width: 100%
}

.nav-justified>li, .nav-tabs.nav-justified>li {
    float: none
}

.nav-justified>li>a, .nav-tabs.nav-justified>li>a {
    text-align: center;
    margin-bottom: 5px
}

.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}

.nav-tabs-justified, .nav-tabs.nav-justified {
    border-bottom: 0
}

.nav-tabs-justified>li>a, .nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 4px
}

.nav-tabs-justified>.active>a, .nav-tabs-justified>.active>a:focus, .nav-tabs-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #ddd
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

/* .i-icon {
    font-family: Icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.i-icon_search:before {
    content: "\f002"
} */

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}