.sticky-bar .navigation-wrap{
    /*display: none;*/
}
.sticky-bar .title{
    margin: 0 auto;
}

/*Quando rola a pagina*/
.sticky-bar .navigation-wrap{
    right: 0;
    position: absolute;
}
.sticky-bar .navigation-wrap .only-full{
    display: none;
}
.navigation-wrap .only-roll{
    display: none;
}
.sticky-bar .navigation-wrap .only-roll{
    display: unset;
}

.noticia .corpo{
    padding-left: 150px;
}

.noticia h2{
    font-size: 24px;
}

.destaque-direita .post-title{
    font-size: 18px;
}

.widget-subscribe {
    background: #fff;
    position: relative;
    border: 5px solid #f5f5f5;
    box-shadow: inset 0 0 0 1px #d7d7d7;
    padding: 5px;
}

.news-block .posts-list .small-post {
    height: 170px;
    overflow: hidden;
}

.relacionado-contain {
    margin: 0px 0px 33px 20px;
}


.relacionado-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    width: 24px;
    height: 1px;
    background: #ec0e0e;
}

.relacionado-contain ul{
    list-style: circle;
}

.relacionado li{
    text-align: left;
}

div.divcaption{

    padding-left: 30px;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    font-family: inherit;
    position: absolute;
    bottom: 0px;
    color: #fffff5a8;
    background: #02020280;
    width: 100%
}


.slick-track{
    padding: 20px;
}
.slider {
    width: 90%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 0px;
}

.slick-slide img {
    width: 100%;
    height: 100%;
}

.slick-nav img {
    height: 100px;
}

.slick-prev:before,
.slick-next:before {
    color: black;

}
.slick-prev,
.slick-next {
    top: 40%;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}
.slick-nav{
    width: auto;

}
.slick-track {
    padding: 0px ;
}
/* fixar tamanho do espaço para imagem a ser carregada com lazyload*/
.post-thumb .pre-img{
    width: 770px;
    height: 400px;
}
.pre-img img {
    width: 100%;
    height: auto;
}

figcaption{
 font-size: 80%;
}

/* inicio logo footer */
.logo-footer{
    width: 100%;
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-image: url(/img/logo_branca_footer.png);
    background-size: contain;
}

.author-image{
    height: 90px;
}
/* fim logo footer */


@media (max-width: 900px) 
{
    .noticia .corpo{
        padding-left: unset;
    }
    .post-thumb .pre-img{
        width: 100%;
        height: 100%;
    }
    .post-thumb div.divcaption {
        bottom: 8px;
    }

    /* inicio logo footer */
    .logo-footer{
        background-image: url("/img/logo_branca_footer.png");
    }

    .author-image{
        height: 65px;
    }
    /* fim logo footer */

}

