/*--------------------------------------------------------------

    Template Name: Znews - HTML Magazine Template for Blogging and News Sites. 
    Template URI: https://themeforest.net/user/nilartstudio
    Description: Znews is a unique website template designed in html with a simple & beautiful look. There is an excellent solution for creating clean, wonderful and trending material design blog, magazine, news site or any other purposes websites.
    Author: Nilartstudio
    Author URI: http://Nilartstudio.com
    Version: 1.0

    Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/

.header-middle-area{
    /*background: url(../images/bg/bg-green.jpg) #008443 0;*/
    background-color: #074f2c ;
    /*#00a652*/
}
.trending-post-area .destaque1 {
   border-bottom: 1px solid #fff;
}
.trending-post-area .destaque2 {
    /*border-bottom: 1px solid #fff;*/
 }
.trending-post-area .destaque3 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.trending-post-area .destaque3 h2 a{
    /*font-size: 40px;*/
}
 .trending-post-area .destaque4 {
    border-bottom: 1px solid #fff;
 }
 .trending-post-area .destaque5 {
   /* border-bottom: 1px solid #fff;*/
 }
.header-top-bar{
    background: #FFF !important;
}
#menutop,
#menutop a,
#menutop a i,
#menutop a span,
#menutop .c-weather,
#menutop .calendar,
#menutop .login-btn{
    color: #000;
}
.header-top-bar a{
    color: #FFF;
}

.cat-btn:hover {
  color: #fff !important;
}
.cat-btn:focus {
  color: #fff !important;
}

#scrollUp:hover {
  color: #fff !important;
}

.zm-submit-box input[type="submit"]:hover {
  background: transparent;
  border-color: transparent;
}
.zm-submit-box a:hover {
  background: transparent;
  border-color: transparent;
}

.preloader-wave-effect:before, .preloader-wave-effect:after {
  background: #27ae60 !important;
}

.mega-menu-area .owl-carousel .owl-stage-outer {
  height: 200px;
}

.zm-megamenu-content .mega-caro-wrap.zm-posts .zm-mega-post.zm-post-lay-a2 .zm-post-title.h2 {
  font-size: 16px;
}

/* Weather - MSWI */
.c-weather {
    position: relative
}

.c-weather:hover .c-weather_panel {
    opacity: 1;
    z-index: 9999999;
}

.c-weather_icon {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    display: inline-block;
    margin-right: 4px;
    white-space: nowrap
}

.c-weather_icon--small {
    width: 18px;
    height: 18px;
    vertical-align: middle
}

.c-weather_icon--large {
    width: 36px;
    height: 36px;
    vertical-align: top
}

.c-weather_icon--cloudy {
    background-image: url(../images/weather/icon_weather_cloudy.svg)
}

.c-weather_icon--lightning {
    background-image: url(../images/weather/icon_weather_lightning.svg)
}

.c-weather_icon--normal {
    background-image: url(../images/weather/icon_weather_normal.svg)
}

.c-weather_icon--raining {
    background-image: url(../images/weather/icon_weather_raining.svg)
}

.c-weather_icon--snow-rain {
    background-image: url(../images/weather/icon_weather_snow-rain.svg)
}

.c-weather_icon--snowing {
    background-image: url(../images/weather/icon_weather_snowing.svg)
}

.c-weather_icon--sun-clouds {
    background-image: url(../images/weather/icon_weather_sun-clouds.svg)
}

.c-weather_icon--sunny {
    background-image: url(../images/weather/icon_weather_sunny.svg)
}

.c-weather_icon--windy {
    background-image: url(../images/weather/icon_weather_windy.svg)
}

.c-weather_icon--high {
    background-image: url(../images/weather/icon_weather_high.svg)
}

.c-weather_icon--low {
    background-image: url(../images/weather/icon_weather_low.svg)
}

.c-weather_panel {
    min-width: 300px;
    top: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid #ddd;
    margin-top: 0;
    padding: 8px 16px;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(0,0,0,.15);
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,.15);
    border-radius: .25em;
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    text-align: left;
}

.c-weather_panel,.c-weather_panel:before {
    position: absolute;
    left: 50%;
    background: #fff
}

.c-weather_panel:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #ddd;
    bottom: 100%;
    margin-left: -4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

.c-weather_content {
    padding-bottom: 8px
}

.c-weather_content+.c-weather_content {
    border-top: 1px solid #ddd
}

.c-weather_header {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #556;
    text-transform: uppercase;
    margin-bottom: 8px
}

.c-weather_header h4 {
    font-size: inherit;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: none
}

.c-weather_description {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 8px
}

.c-weather_forecasts {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex
}

.c-weather_forecast {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    vertical-align: baseline;
    text-align: center;
    padding-right: 8px
}

.c-weather_forecast+.c-weather_forecast {
    padding-left: 8px;
    border-left: 1px solid #ddd
}

.c-weather_forecast .c-weather_icon {
    margin-right: 0
}

.c-weather_title {
    margin-top: 0;
    font-weight: 700;
    line-height: 1;
    font-size: 2.5em
}

.c-weather_title span {
    display: block
}

.c-weather_title span+span {
    margin-top: 8px;
    font-size: .85em
}

.c-weather_temperature {
    font-size: 16px;
    white-space: nowrap
}

.c-weather_temperature--small {
    font-size: 13px;
    display: block;
    text-align: center;
    margin-top: 4px
}

.c-weather_date {
    text-align: center;
    display: block;
    margin-bottom: 4px
}

.c-weather_date span {
    display: block;
    font-weight: 700
}

.controls-1 .owl-controls .owl-dots{
    top: unset;
    bottom: 10px;
}

.header-middle-area .logo{
    width: 290px;
}
.header-middle-area .header-mdh {
    height: 100px;
}

.header-top-right,
.header-top-right a, 
.zmaga-calendar .calendar{
    font-size: 12px;
}
#menutop{
    padding: 5px 0;
}
.categorias2 h2{
    line-height: 30px;
    margin-top: 10px;
}

.slick-slider {
   position: relative;
   display: block;
   box-sizing: border-box;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -ms-touch-action: pan-y;
   touch-action: pan-y;
   -webkit-tap-highlight-color: transparent;
   margin: 0 0 24px
}

.slick-list {
   position: relative;
   overflow: hidden;
   display: block;
   margin: 0;
   padding: 0
}

.slick-list:focus {
   outline: 0
}

.slick-list.dragging {
   cursor: pointer;
   cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0)
}

.slick-track {
   position: relative;
   left: 0;
   top: 0;
   display: block;
   margin-left: auto;
   margin-right: auto
}

.slick-track:before,
.slick-track:after {
   content: "";
   display: table
}

.slick-track:after {
   clear: both
}

.slick-loading .slick-track {
   visibility: hidden
}

.slick-slide {
   float: left;
   height: 100%;
   min-height: 1px;
   display: none
}

[dir="rtl"] .slick-slide {
   float: right
}

.slick-slide img {
   display: block
}

.slick-slide.slick-loading img {
   display: none
}

.slick-slide.dragging img {
   pointer-events: none
}

.slick-initialized .slick-slide {
   display: block
}

.slick-loading .slick-slide {
   visibility: hidden
}

.slick-vertical .slick-slide {
   display: block;
   height: auto;
   border: 1px solid transparent
}

.slick-arrow.slick-hidden {
   display: none
}

.slick-list :focus {
   outline: -webkit-focus-ring-color auto 0
}

.slick-loading .slick-list {
   background: #fff url("./../images/ajax-loader.gif") center center no-repeat;
}

/* GALLERY CAROUSEL  */
.gallery__nav-thumbs .slick-list {
   padding: 0;
   margin-left: 0
}

.gallery__nav-thumbs .slick-list .slick-slide {
   padding-top: 6px;
   height: 96px
}

.gallery__nav-thumbs .slick-list .slick-slide figure {
   height: 100%;
   width: auto;
   opacity: .7
}

.gallery__nav-thumbs .slick-list .slick-slide figure .img-responsive img {
   height: 100%;
   width: auto
}

.gallery__nav-thumbs .slick-list .slick-slide:hover {
   cursor: pointer
}

.gallery__nav-thumbs .slick-list .slick-slide:hover figure {
   opacity: 1
}

.gallery__nav-thumbs .slick-list .slick-active.slick-center figure {
   opacity: 1
}

.gallery__visualization {
   margin-bottom: 0;
   position: relative
}

/* end GALLERY */

.slick-prev,
.slick-next {
   position: absolute;
   display: block;
   height: 18px;
   width: 20px;
   line-height: 0;
   font-size: 0;
   cursor: pointer;
   background: transparent;
   color: transparent;
   z-index: 99;
   bottom: -36px;
   -webkit-transform: translate(0, -50%);
   -ms-transform: translate(0, -50%);
   transform: translate(0, -50%);
   padding: 0;
   border: 0;
   outline: 0
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
   outline: 0;
   background: transparent;
   color: transparent
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
   opacity: 1
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
   opacity: .25
}

.slick-prev:before,
.slick-next:before {
   font-family: "FontAwesome";
   font-size: 20px;
   line-height: 20px;
   color: gray;
   opacity: .75;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}

.slick-prev {
  /* left: 40%*/
}

[dir="rtl"] .slick-prev {
   left: auto;
   right: 0
}

.slick-prev:before {
   content: ""
}

[dir="rtl"] .slick-prev:before {
   content: ""
}

.slick-next {
   /* right: 40% */
}

[dir="rtl"] .slick-next {
   left: 0;
   right: auto
}

.slick-next:before {
   content: ""
}

[dir="rtl"] .slick-next:before {
   content: ""
}

.slick-dotted.slick-slider {
   margin-bottom: 30px
}

.slick-dots {
   position: absolute;
   bottom: -25px;
   list-style: none;
   display: block;
   text-align: center;
   padding: 0;
   margin: 0;
   width: 100%
}

.slick-dots li {
   position: relative;
   display: inline-block;
   height: 20px;
   width: 20px;
   margin: 0 5px;
   padding: 0;
   cursor: pointer
}

.slick-dots li button {
   border: 0;
   background: transparent;
   display: block;
   height: 20px;
   width: 20px;
   outline: 0;
   line-height: 0;
   font-size: 0;
   color: transparent;
   padding: 5px;
   cursor: pointer
}

.slick-dots li button:hover,
.slick-dots li button:focus {
   outline: 0
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
   opacity: 1
}

.slick-dots li button:before {
   position: absolute;
   top: 0;
   left: 0;
   content: "";
   width: 20px;
   height: 20px;
   font-family: "FontAwesome";
   font-size: 10px;
   line-height: 20px;
   text-align: center;
   color: #a28;
   opacity: .25;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
   color: #a28;
   opacity: .75
}
