.horoscopo li{
    margin-bottom: 10px;
    list-style-type: none;
    list-style: none;
    display: table;
}
.aries{
    
}
.touro{

}
.gemeos{

}
.cancer{

}
.leao{

}
.virgem{

}
.libra{

}
.escorpiao{

}
.sagitario{

}
.capricornio{

}
.aquario{

}
.peixes{

}