html {
  scroll-behavior: smooth;
}

.go-top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1.8rem;
  z-index: 99;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  border-radius: 10px;
}
.go-top:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.destaques-1,
.destaques-2,
.destaques-3,
.destaques-4{
  margin-bottom: 30px;
}