<header>
    <h2>Comentários</h2>
</header>
<div class="offset--x8">
    <div 
        id="comentario" 
        class="fb-comments" 
        data-href="<?php echo $_SERVER['SERVER_NAME'].$this->here; ?>" 
        data-numposts="5"
        data-width="100%"
        >
    </div>
</div>