<!--/coming-->
	<div class="events-coming" id="coming">
		<h3 class="tittle_w3ls cen">Get ready for a great night of rock!
		</h3>
		<div class="inner_sec_info_agile-w3ls">
			<div class="content">
				<div class="simply-countdown-custom" id="simply-countdown-custom"></div>
			</div>

		</div>
	</div>
<!--//coming-->