<!--/works-->
	<div class="works" id="album">
		<div class="container">
			<h3 class="tittle_w3ls cen">Colabore com a nossa playlist ;)</h3>
			<div class="inner_sec_info_agile-w3ls">
				<div class="column add-bottom">
					<?php

					$share = 'https://embed.spotify.com/?uri=spotify:album:1DFixLWuPkv3KT3TnV35m3';
					$share = 'https://embed.spotify.com/?uri=spotify:playlist:37i9dQZF1DXcmaoFmN75bi';
					$share = 'https://embed.spotify.com/?uri=spotify:playlist:37i9dQZEVXbMDoHDwVN2tF';
					$share = 'https://embed.spotify.com/?uri=spotify:playlist:0HCpSzFTfO6Fc3hyuNJg3V'; // BARULHO CURITIBA

					?>

					<style>
						.embed-container {
							position: relative;
							padding-bottom: 56.25%;
							height: 0;
							overflow: hidden;
							max-width: 100%;
							height: auto;
						}

						.embed-container iframe,
						.embed-container object,
						.embed-container embed {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
					</style>

					<div class='embed-container'>
						<iframe src="<?php echo $share; ?>" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
					</div>
				</div>

			</div>

		</div>
	</div>
<!--/works-->