<?php 
//$urlVejaMais = (isset($node['Node']['type']) && isset($node['Node']['terms'])) ? $node['Node']['type'].'/term/'.$this->Mswi->categoryName($node['Node']['terms']) : null;

//Configure::write('debug',1);
//pr($nodesRelacionados);
//se encontrou alguma resultado
if(isset($nodesRelacionados) && !empty($nodesRelacionados)){ ?>
	<section class="s-list u-spacer_bottom">
		<header class="o-header">
			<span" class="o-header_title">
				<?php echo 'Veja Também'?>
			</span>
		</header>
	    <div class="row">
	    	<?php
			//se tem algum registro
			if(!empty($nodesRelacionados)){
				$contador = 0;
				$total = count($nodesRelacionados);
				//percorre os nodes
				foreach($nodesRelacionados as $n){ $contador++;?>
		          <div class="col-sm-4">
		             <div class="o-news">
		             	<a href="<?php echo $n['Node']['path']; ?>" class="o-news_content">
		             		<?php 
							$imagemUrl = 'http://placehold.it/89x67';
							//se tem imagem
							if(isset($n['Multiattach']) && !empty($n['Multiattach'])){
								$imagemUrlArray = array(
							        'plugin'		=> 'Multiattach',
									'controller'	=> 'Multiattach',
									'action'		=> 'displayFile', 
									'admin'			=> false,
									'filename'		=> $n['Multiattach']['filename'],
									'dimension'		=> '89x67'
								);
								$imagemUrl = $this->Html->url($imagemUrlArray);
							//}
							?>
		             			<img src="<?php echo $imagemUrl; ?>" class="o-news_image o-news_image--left"> 
		             		<?php } ?>
		             		<span class="o-news_title">
		             			<?php echo $n['Node']['title']; ?>
		             		</span>
		             	</a>
		             </div>
		          </div>
	          <?php if($contador == 3){ $contador++; ?>
	          	<div class="clearfix"></div>
	          <?php }
	          } 
	  		} ?>
		</div>
	</section>
<?php } ?>