<?php
$term = (isset($node['Taxonomy'][0]['Term']['slug'])) ? $node['Taxonomy'][0]['Term']['slug'] : null;

switch ($term) {
    case 'agribusiness':
    //case 'geral':
        echo '<header class="o-header o-header_ad o-header_ad--right">PUBLICIDADE</header>';
        echo '<div id="sas_37763"></div>';
        echo '<script type="application/javascript">sas.cmd.push(function() {
            sas.render("37763");  // Formato : Quadrado Noticia 200x200 200x200
        });</script>';
    break;
    
    default:
    break;
}
