nbody {
    background-color: #999;
}


/* MAIN AREA */

[ng-model] .img-destaque {
    width: 600px;
    height: 400px;
    background-color: lightgrey;
}

[ng-model="destaque"] .img-destaque img {
    border: solid 2px #fff;
}

.two-column .img-destaque {
    width: 288px;
    height: 192px;
    background-color: lightgrey;
    overflow: hidden;
}

.two-column .img-destaque img {
    border: solid 2px #fff;
}

table[data-drop="true"] {
    transition: all .3s cubic-bezier(.39, 1.07, .99, 1.01);
    border: dashed 2px #fff;
}

.bg--escuro table[data-drop="true"] {
    transition: all .3s cubic-bezier(.39, 1.07, .99, 1.01);
    border: dashed 2px #4B4B4B;
}

.dashed {
    border: dashed 2px #999!important;
}


/* [ng-model="destaque"] .category .placeholder {
    height: 24px;
    width: 250px;
    background-color: lightgrey;
    margin-left: 15px;
    position: absolute;
    top: -1px;
} */


/* SIDEBAR */

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 10px;
    background-color: grey;
}

.sidebar {
    position: absolute;
    width: 30%;
    height: 100%;
    right: 0;
    z-index: 99;
}

.main {
    width: 70%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    /* z-index: 0; */
}

.news-list__filter {
    height: 50px;
    width: 28%!important;
    line-height: 50px;
    background-color: #fff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .4);
    padding: 10px 15px;
    position: fixed;
    z-index: 999;
    display: flex;
}

.news-list__filter input {
    height: 36px;
    width: 100%;
    border: solid 1px lightgray;
    font-size: 24px;
    padding: 5px;
    margin: 0px!important;
}

.news-list__filter input::-moz-placeholder,
.news-list__filter input::-webkit-input-placeholder,
.news-list__filter input::-ms-input-placeholder,
.news-list__filter input::-moz-placeholder,
.news-list__filter input::placeholder {
    color: #DDD;
}

.news-list {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    height: 90%;
    margin-top: 80px;
    margin-bottom: 15%;
    /* overflow-y: scroll; */
    z-index: 98;
}

.news-list__item {
    margin: 10px 0px;
}

.news-block {
    width: 100%;
    /* height: 110px; */
    background: #fff;
    padding: 10px 0px;
    overflow: hidden;
    text-align: left;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .4);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0px;
    z-index: 100;
}

.news-block__img {
    width: 120px;
    height: 110px;
    overflow: hidden;
    display: block;
    /* float: left; */
    margin: 0px 10px;
}

.news-block__img img {
    /* width: 140px; */
    height: 100%;
    margin: 0px 0px;
}

.news-block__text {
    /* width: 100%; */
    position: relative;
    /* float: left; */
    margin-right: 10px;
}

.news-block__text h1 {
    font-size: 18px;
    max-height: 38px;
    margin-bottom: 6px;
    overflow: hidden;
}

.news-block__text summary {
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    height: 34px;
}

.news-block__text .category {
    font-size: 12px;
    text-transform: uppercase;
}

.news-block__text .category::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 5px;
    height: 12px;
    background-color: lightgray;
}

.news-block__text .date-published {
    font-size: 12px;
    line-height: 18px;
    color: gray;
}

.btn-publish {
    position: fixed;
    bottom: 0;
    padding: 15px;
}

.btn-publish button {
    height: 44px;
    width: 88px;
    font-size: 18px;
    color: #4B4B4B;
}

.btn-publish button:hover {
    background-color: #4B4B4B;
    color: #fff;
    cursor: pointer;
}