<?php
//$this->extend('/Common/admin_index');
$this->Html
	->addCrumb('', '/admin', array('icon' => $this->Theme->getIcon('home')))
	->addCrumb('Seções Especiais', '/' . $this->request->url);
?>
<div class="row-fluid">
	<div class="actions span12">
		<div class="btn-group">
            <a href="/admin/especiais/especiais/add" method="get" class="btn btn-success">Nova Região Especial</a>
        </div>	
    </div>
</div>
<table class="table">
	<thead>
		<th><?php echo $this->Paginator->sort('title', 'Título')?></th>
        <th><?php echo $this->Paginator->sort('regiao', 'Região')?></th>
		<th><?php echo $this->Paginator->sort('created', 'Criado Em')?></th>
		<th><?php echo $this->Paginator->sort('status', 'Status')?></th>
		<th>Ações</th>
	</thead>
	<tbody>
	<?php foreach ($registros as $registro): ?>
		<tr>
			<td><?php echo $registro['Especiais']['title']; ?></td>
            <td><?php echo $arrayRegioes[$registro['Especiais']['regiao']]; ?></td>
			<td><?php echo date('d/m/Y H:i', strtotime($registro['Especiais']['created'])); ?></td>
			<td>
                <?php
                    echo $this->element('admin/toggle', array(
                        'id' => $registro['Especiais']['id'],
                        'status' => (int)$registro['Especiais']['status'],
                    ));
                ?>
            </td>
			<td>
                <?php 
                echo ' ' . $this->Croogo->adminRowAction('',
                    array('action' => 'edit', $registro['Especiais']['id']),
                    array(
                        'icon' => $this->Theme->getIcon('update'), 
                        'tooltip' => 'Editar',
                        //'onclick' => '$("#divLoading").show();'
                    )
                );
                
                echo ' ' . $this->Croogo->adminRowAction('',
                    array('action' => 'delete', $registro['Especiais']['id']),
                    array(
                        'icon' => $this->Theme->getIcon('delete'), 
                        'tooltip' => 'Excluir', 
                        'confirm' => 'Tem certeza que deseja EXCLUIR este registro?',
                        'onclick' => '$("#divLoading").show();'
                    )
                );	
                ?>
            </td>
		</tr>
	<?php endforeach ?>
	</tbody>
<table>