.article--breadcrumbs {
  margin: 0 -8px $margin;
  padding: 0;
  list-style: none;
  font-size: 0;

  li {
    position: relative;
    display: inline-block;
    padding: $margin-25 $margin-50;
    font-size: 16px;
    color: $preto;

    + li {
      padding-left: $margin-25;
      &:before {
        content: "›";
        display: inline-block;
        margin-right: $margin-50;
      }
    }

    &:last-child {
      color: $laranja;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.article--metadata {
  @include clearfix;
  .flexbox & {
    -js-display: flex;
    display: flex;
    align-items: center;
  }

  .headline--category {
    display: inline-block;
    font-size: 16px;
    margin-right: $margin;
  }

  // .headline--datetime {
  //   float: left;
  // }

  .headline--fontes {
    display: inline-block;
    text-align: right;
    float: right;
    font-size: 0;

    .flexbox & {
      flex-grow: 1;
    }
  }
}

.fontes--btn {
  @include appearance(none);
  position: relative;
  font-size: 16px;
  border: 1px solid nth($cinzas, 6);
  border-radius: 5px 0 0 5px;
  background: transparent;
  transition: background .15s, color .15s, border-color .15s;

  + #{&} {
    margin-left: -1px;
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    z-index: 2;
    background: $azul;
    color: $branco;
    border-color: darken($azul, 10%);
  }
}

.article--title {
  margin-top: $margin;
  margin-bottom: $margin;
  display: block;
  font-size: 2.25em;
}

.article--block {
  margin-bottom: $margin-400;
  -js-display: flex;
  display: flex;
  flex-flow: column wrap;

  @include media-query(sm) {
    display: block;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  figcaption {
    margin-bottom: $margin-50;
    padding: $margin-25 $margin-50;
    background: nth($cinzas, 6);
    font-size: 14px;
    font-style: italic;
    white-space: normal;
  }
}

.article--carousel {
  max-width: 100%;
}

.article--relacionadas {
  padding: 0;
  list-style: none;
  border: 1px solid nth($cinzas, 5);
  order: 2;

  @include media-query(sm) {
    display: inline-block;
    margin-right: $margin;
    margin-bottom: $margin;
    min-width: 300px;
    max-width: 50%;
    max-width: calc(50% - #{$margin});
    float: left;
  }
  li {
    display: block;
    > a {
      padding: $margin-50 $margin;
      display: block;
      text-decoration: none;
      color: inherit;
      &:hover {
        background: nth($cinzas, 6);
      }
    }
    + li {
      border-top: 1px solid nth($cinzas, 5);
    }
  }
  .banner--block {
    margin-bottom: 0;
  }
}

.figure-left {
  @include media-query(sm) {
    max-width: 50%;
    max-width: calc(50% - #{$margin});
    float: left;
    margin-right: $margin;
    margin-bottom: $margin-50;
    clear: left;
  }

  + * {
    clear: right;
  }
}

.figure-right {
  @include media-query(sm) {
    max-width: 50%;
    max-width: calc(50% - #{$margin});
    float: right;
    margin-left: $margin;
    margin-bottom: $margin-50;
    clear: right;
  }

  + * {
    clear: left;
  }
}

// Embeds responsive
//
// Credit: Nicolas Gallagher and SUIT CSS.

.embed-responsive {
  clear: both;
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
