.region--atrativos {
  margin-bottom: $margin;
}

.atrativos--collection {
  -js-display: flex;
  display: flex;
  flex-flow: row wrap;
  margin-left: -$margin-25;
  margin-right: -$margin-25;
}

.atrativos--block {
  position: relative;
  padding: $margin-25;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 100%;
  height: em(180);
  background-clip: content-box;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.atrativos--block__large {
  min-width: 296px;
  width: 100%;
  flex-basis: 100%;

  @include media-query(sm) {
    width: 40%;
    flex-basis: 40%;
  }
}

.atrativos--block__small {
  min-width: 150px;
  width: 50%;
  flex-basis: 50%;

  @include media-query(sm) {
    width: 20%;
    flex-basis: 20%;
  }
}

.atrativos--headline__title {
  position: absolute;
  bottom: $margin-75;
  left: $margin-75;
  display: inline-block;
  padding: $margin-25 $margin-50;
  background: $rosa;
  color: $branco;
  text-transform: uppercase;
  text-decoration: none;
}