.banner--block {
  display: block;
  margin-right: auto;
  margin-bottom: $margin;
  margin-left: auto;
  max-width: 100%;
  overflow: hidden;
}

.banner--shopping {
  width: em(275);
  height: em(90);
  
  @include media-query(sm) {
    height: em(84);
    margin-bottom: 0;
  }
  @include media-query(md) {
    height: em(89);
  }
}

.banner--block__300 {
  width: em(300);
}

.banner--block__500 {
  width: em(500);
}

.banner--block__728 {
  width: em(728);
}