.region--agenda {
  .news--header {
    margin-bottom: 0;
  }
}

.agenda--categorias__list {
  padding: $margin-25 0;
  margin-bottom: $margin;
  background: #e6e6e6;
  overflow: auto;
  // white-space: nowrap;

  a {
    display: inline-block;
    padding: $margin-25 $margin-50;
    color: $azul;
    text-decoration: none;
    white-space: nowrap;
    // vertical-align: middle;
    &:hover {
      text-decoration: underline;
    }

    + a {
      position: relative;
      &:before {
        content: "•";
        position: absolute;
        left: -.3em;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: nth($cinzas, 5);
        
        // line-height: 1;
        // vertical-align: sub;
        display: inline-block;
        // font-size: 32px;
        // white-space: nowrap;
      }

    }
  }
}

#agendaWrapper {
  margin-bottom: $margin;
  //background: nth($cinzas, 6);
}

#monthWrapper {
  width: 100%;
  //margin: 0 0 $margin;
  margin: 0;
  z-index: 10;
  position: relative;
  padding: 0;
  list-style: none;
  font-size: 0;
  //border: 1px solid $laranja;
  white-space: nowrap;
  overflow-y: auto;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);

  li {
    position: relative;
    display: inline-block;
    font-size: 16px;
    width: (100% / 12);
    text-align: center;
    min-width: em(50, 16);

    + li {
      a:before {
        border-left: 1px solid nth($cinzas, 5);
      }
    }

    &:hover {
      a {
        color: $laranja;
      }
    }
  }

  a {
    position: relative;
    display: block;
    padding: $margin-25 0;
    color: inherit;
    text-decoration: none;
    z-index: 3;
    background: $branco;
    font-weight: 700;
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: skewX(-20deg);
    }
  }

  li:first-child {
    a:before {
      left: 5px;

    }    
  }

  li:last-child {
    a:before {
      right: 5px;
    }    
  }

  .is--active {
    color: $branco;
    z-index: 4;
    a:before {
      background: $laranja;
      border-right: 1px solid nth($cinzas, 5);
    }
    &:hover {
      a {
        color: $branco;
      }
    }

    + li {
      a:before {
        border-left: 0;
      }
    }
  }
}

.agenda--table {
  width: 100%;
  @include media-query(sm) {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
  }
}

#daysWrapper {
  position: relative;
  display: block;
  width: 100%;
  overflow-x: hidden;
  @include media-query(sm) {
    display: table-cell;
    width: 280px;
  }
}

.agenda--days {
  //position: relative;
  width: 100%;
  height: 48px;
  overflow-x: auto;
  overflow-y: hidden;
  margin: $margin-50 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  white-space: nowrap;

  @include media-query(sm) {
    margin: 0;
    height: (32px * 6);
    white-space: normal;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.agenda--day {
  display: inline-block;
  font-size: 14px;
  width: (100% / 7);
  height: 32px;
  vertical-align: top;
  text-align: center;
  background: lighten(nth($cinzas, 6), 2%);
  transition: background .15s;

  &.is--month {
    background: $branco;
  }

  a,
  &.is--month a {
    color: $azul;
  }
  
  #mes-jan + &,
  .agenda--days__empty + & {
    margin-left: 42.857145%;
    @include media-query(sm) {
      margin-left: 0;
    }
  }

  &:last-of-type {
    margin-right: 42.857145%;

    @include media-query(sm) {
      margin-right: 0;
    }
  }

  &:before {
    content: "";
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: -.25em;
  }
}

.agenda--marker {
  display: inline-block;
  vertical-align: top;
}

#eventsWrapper {
  position: relative;
  @include media-query(sm) {
    display: table-cell;
    width: 100%;
    max-width: calc(100% - 280px);
  }
}

.agenda--events {
  //width: calc(100% - 280px);
  font-size: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: (32px * 6);
  @include media-query(sm) {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }
}
.agenda--events__day {
  font-size: 14px;

  @include media-query(sm) {
    vertical-align: top;
    display: inline-block;
    height: (32px * 6);
    overflow-y: hidden;
  }

  &:nth-child(odd) {
    background: nth($cinzas, 6);
  }
}

.agenda--days__empty {
  display: none;
  @include media-query(sm) {
    display: inline-block;
    vertical-align: top;
    width: (100% / 7);
    height: 32px;
  }
}

.agenda--day__btn {
  text-decoration: none;
  color: nth($cinzas, 4);
  transition: color .15s;

  .is--month & {
    color: nth($cinzas, 2);
    font-weight: 600;
  }
  @at-root {
    a#{&} {

      color: $azul;
      display: inline-block;
      padding-top: 6px;
      width: 32px;
      height: 100%;
      border-radius: 100%;
      background: nth($cinzas, 6);
      transition: .15s;

      // @include media-query(sm) {
      //   width: 100%;
      // }

      &:hover {
        background: $azul;
        color: $branco;
      }
    }
  }
}

.agenda--events__block {
  padding: $margin-50;
  white-space: normal;
  @include media-query(sm) {
    display: inline-block;
    max-width: em(288);
    height: calc(100% - #{em(47)});
    vertical-align: top;
    overflow: auto;

    + #{&} {
      border-left: 1px dashed nth($cinzas, 5);
    }
  }
  p {
    margin-top: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      background: #fff;
    }
  }
}

.agenda--events__header {
  display: block;
  border-bottom: 1px dashed nth($cinzas, 5);
  padding: $margin-75 $margin-50;
  font-weight: 700;
  text-align: right;
}

.agenda--events__header-month {
  position: relative;
  display: inline-block;
  font-size: em(10);
  transform: rotate(-90deg);
  vertical-align: middle;
}

.agenda--events__header-day {
  display: inline-block;
  font-size: em(24);
  line-height: 1;
  vertical-align: middle;
}