.region--categories {
	.news--header {
		margin-bottom: 0;
	}

	.article--relacionadas {
		float: none;
		max-width: 100%;
		min-width: 0;
		margin-top: 0;
		border-top-width: 0;
		display: block;
		width: 100%;
		border-color: #e6e6e6;

		li + li {
			border-top-color: inherit;
		}
	}
}