.enquete-item {
  display: table;
  width: 100%;
  border-spacing: 0;
  margin-bottom: 1em;
}

.enquete-item__data,
.enquete-item__titulo {
  display: table-cell;
}

.enquete-item__data {
  vertical-align: middle;
  text-align: center;
  padding: .5em;
  font-size: 1.2em;
  background: nth($cinzas, 6);
  color: nth($cinzas, 3);
  .enquete-item__aberta & {
    background: $verde;
    color: $branco;
  }
  .enquete-item__fechada & {
    background: $vermelho;
    color: $branco;
  }
  .headline--datetime {
    color: inherit;
  }
}

.enquete-item__titulo {
  vertical-align: middle;
  padding: .5em;
  a {
    display: block;
    color: nth($cinzas, 4);
  }
}