.evento--title {
  font-size: 1.666em;
}

.evento--main__row {
  @include clearfix;
  display: block;
  margin-right: -$margin-50;
  margin-bottom: $margin-200;
  margin-left: -$margin-50;
}

.evento--aside {
  margin-bottom: $margin-200;
  padding: $margin;
  background: #ececec;
  border-radius: 5px;
  border: 1px solid darken(#ececec, 5%);
  box-shadow: inset 0 0 6px 4px rgba(darken(#ececec, 5%), .5); 

  .evento--endereco {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    font-size: 14px;
  }

  .banner--block {
    margin-left: 0;
  }
}

.evento--desc {
  // @include media-query(sm) {
  //   width: 60%;
  // }
  p:first-child {
    margin-top: 0;
  }

  figure {
    margin-bottom: 1em;
    img {
      display: block;
      border: 0;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}

.evento--endereco {
  address {
    font-size: 14px;
    &:before {
      content: "Local: ";
      font-weight: bold;
      font-style: normal;
    }
  }
  .guia--btn {
    font-size: 14px;
  }
  .icons {
    font-size: 20px;
    vertical-align: text-top;
  }
}