@function em($pixel, $base: $font-size-base) {
  @return ($pixel / $base) * 1em;
}

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

$screen-xs-min: 480px;
$screen-xs-max: ($screen-xs-min - 1);
$screen-sm-min: 768px;
$screen-sm-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-md-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;

@mixin media-query($media) {
  @if $media == xs {
    @media (max-width: $screen-sm-max) {@content;} 
  }
  @else if $media == sm {
    @media (min-width: $screen-sm-min) {@content;}
  }
  @else if $media == only-sm {
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {@content;}
  }
  @else if $media == md {
    @media (min-width: $screen-md-min) {@content;}
  }
  @else if $media == only-md {
    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {@content;}
  }
  @else if $media == lg {
    @media (min-width: $screen-lg-min) {@content;}
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($side) {
  width: $side;
  height: $side;
}

@mixin appearance($value) {
  -moz-appearance: $value;
  -webkit-appearance: $value;
  appearance: $value;
}