// Barra de busca
.guia--form__pesquisa {
  border-bottom: 1px solid #ccc;
  margin-bottom: $margin;
  padding: $margin 0;
}

.guia--pesquisa {
  background: $verde;
  padding: $margin-50;
  white-space: nowrap;

  .flexbox & {
    display: flex;
    flex-flow: column wrap;

    @include media-query(sm) {
      align-items: center;
      flex-flow: row nowrap;
    }
  }

  > label {
    display: inline-block;
    padding: 0 $margin-50;
    margin-bottom: $margin-50;
    font-weight: bold;
    color: #000;

    @include media-query(sm) {
      margin-bottom: 0;
    }
  }
}

.guia--pesquisa__item {
  display: inline-block;
  padding: 0 $margin-50;
  white-space: nowrap;

  + #{&} {
    margin-top: $margin-50;
    @include media-query(sm) {
      margin-top: 0;
    }
  }

  select,
  input {
    width: 100%;
    height: 33px;
    border: 1px solid #ccc;
    padding: $margin-25 $margin-50;
  }

  .guia--pesquisa__button {
    @include appearance(none);
    background: $verde;
    border: 1px solid darken($verde, 10%);
    color: darken($verde, 40%);
    border-radius: 5px;
    padding: $margin-25 $margin;
    transition: background .2s;

    &:hover {
      background: lighten($verde, 5%);
    }
  }
}

.item--grow {
  margin: 0;

  .flexbox & {
    flex-grow: 1;
  }
}

// General

.guia--block {
  img {
    max-width: 100%;
    height: auto;
  }

  figcaption {
    margin-bottom: $margin-50;
    padding: $margin-25 0;
    //background: nth($cinzas, 6);
    font-size: 14px;
    font-style: italic;
  }
}

.guia--stop {
  @include clearfix;
  clear: both;
  border-bottom: 1px solid #eee;
  margin-bottom: $margin;
  padding-bottom: $margin;
}

.guia--header {
  border-bottom: 1px solid #eee;
  //margin-top: $margin;
  margin-bottom: $margin;
  padding-bottom: $margin;
}

.guia--header__table {
  //@include clearfix;
  
  width: 100%;
  min-height: 38px;
  clear: both;
  padding: 0;
  overflow: hidden;

  @include media-query(sm) {
    display: table;
    border-collapse: collapse;
  }
}

.guia--title {
  font-size: 1.5em;
  vertical-align: middle;

  @include media-query(sm) {
    display: table-cell;
    float: left;
  }
}

.guia--header__telefone {
  display: block;
  margin-bottom: $margin-50;
  white-space: nowrap;
  font-size: 1.25em;

  @include media-query(sm) {
    display: table-cell;
    margin-bottom: 0;
    width: 1%;
    font-size: 1.5em;
    vertical-align: middle;
    text-align: right;
  }

  .icons {
    vertical-align: middle;
    font-size: 1.333em;
    margin-right: .25em;
    color: nth($cinzas, 4);
  }
}

.guia--header__rating {
  //position: relative;
  width: 100px;
  height: 20px;
  //padding: 0;
  //margin: 0;
  //vertical-align: middle;
  margin-bottom: $margin-50;
  box-sizing: border-box;
  //white-space: nowrap;
  background-image: url('/theme/H2foz/img/star-blank.png');
  background-image: url('/theme/H2foz/img/star-blank.svg');
  background-repeat: repeat-x;
  background-origin: content-box;
  background-size: 20px;

  .guia--header__table & {
    width: 180px;
    height: 36px;
    background-size: 36px;
    margin-bottom: $margin;
    @include media-query(sm) {
      width: 100px;
      height: 20px;
      background-size: 20px;
      margin-bottom: $margin-50;
    }
  }

  .region--lista & {
    display: block;
    margin-top: $margin;
  }

  @include media-query(sm) {
    display: table-cell;
    margin-bottom: 0;
  }
}

.rating--bar {
  display: block;
  max-width: 100px;
  height: 20px;
  background-image: url('/theme/H2foz/img/star-bright.png');
  background-image: url('/theme/H2foz/img/star-bright.svg');
  background-repeat: repeat-x;
  background-size: 20px;

  .guia--header__table & {
    max-width: 180px;
    height: 36px;
    background-size: 36px;

    @include media-query(sm) {
      max-width: 100px;
      height: 20px;
      background-size: 20px;
    }
  }
}

.guia--header__badges {
  @include media-query(sm) {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
  //width: auto;
  //width: calc(100% - 100px);
  
}

.guia--carousel {
  @include media-query(sm) {
    width: 50%;
    width: calc(50% - 16px);
    float: right;
  }
}

.guia--endereco,
.evento--endereco {
  font-size: 0;
  margin-top: $margin-200;
  margin-bottom: $margin;

  @include media-query(sm) {
    margin-top: 0;
  }

  address {
    font-size: 16px;
    line-height: 1;
    margin: 0 0 $margin-50;
    padding: 0;
  }

  .region--lista & {
    margin-top: $margin;
    margin-left: -$margin-25;
    margin-right: -$margin-25;

    address {
      padding-left: $margin-25;
      padding-right: $margin-25;
    }

    .guia--btn {
      margin-left: $margin-25;
      margin-right: $margin-25;
      border-radius: 50%;
      width: 38px;
      height: 38px;
      text-align: center;
      .icons {
        margin: 0;
      }
    }
  }
}

.guia--btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: $margin-50;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  transition: background .15s;

  .icons {
    margin-right: $margin-50;
    color: #333;
    font-size: 1.125em;
  }

  &:only-of-type {
    border-radius: 4px;
  }

  + #{&} {
    border-radius: 0 4px 4px 0;
  }

  &__waze {
    background: #93c4d3;
    &:hover {
      background: lighten(#93c4d3, 5%);
    }
  }

  &__map {
    background: #2ecc71;
    &:hover {
      background: lighten(#2ecc71, 5%);
    }
  }

  &__facebook {
    background: #3b579d;
    color: #fff;
    .icons {
      color: #fff;
    }
    &:hover {
      background: lighten(#3b579d, 5%);
      color: #fff;
    }
  }

  &__twitter {
    background: #2caae1;
    color: #fff;
    .icons {
      color: #fff;
    }
    &:hover {
      background: lighten(#2caae1, 5%);
    }
  }

  &__mail {
    background: $azul;
    color: #fff;

    .icons {
      color: #fff;
    }

    &:hover {
      background: lighten($azul, 5%);
    }
  }

  &__star {
    background: #E6B54A;
    color: #333;

    .icons {
      color: #333;
    }

    &:hover {
      background: lighten(#E6B54A, 5%);
    }
  }
}

.guia--info {
  .icons {
    display: inline-block;
    margin-right: .333em;
    font-size: 1.25em;
    vertical-align: top;
  }

  .icons--facebook,
  .icons--facebook-square {
    color: #3B579D;
  }

  .icons--twitter,
  .icons--twitter-square {
    color: #2CAAE1;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.guia--descricao {
  font-size: 14px;
  overflow: hidden;
  position: relative;

  @include media-query(sm) {
    width: 66.6%;
    width: calc(66.6% + 16px);
    float: left;
    left: 33.3%;
    left: calc(33.3% - 16px);

    &:only-child {
      width: 100%;
      left: 0;
      float: none;
    }
  }
}

.guia--badges {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;

  @include media-query(sm) {
    padding-top: 0;
    float: left;
    left: -66.6%;
    left: calc(-66.6% - 16px);
    max-width: 33.3%;
    max-width: calc(33.3% - 16px);
    padding-right: $margin-200;
    padding-bottom: $margin;
  }

  li {
    display: block;
    padding: $margin-25 0;
  }

  .icons {
    display: inline-block;
    border: 1px solid #E6B54A;
    border-radius: 100%;
    margin-right: .5em;
    padding: 8px 0;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.25em;
    background: linear-gradient(135deg, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
    color: #fff;
  }
}

.badge--block {
  .icons {
    display: inline-block;
    border: 1px solid #E6B54A;
    border-radius: 100%;
    margin-right: .25em;
    padding: 8px 0;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    font-size: 1em;
    background: linear-gradient(135deg, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
    color: #fff;
  }
}

// Sugestões
// 

.guia--sugestoes {
  display: block;
  margin-top: $margin;
  margin-bottom: $margin;
  @include clearfix;
}

.guia--sugestoes__block {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: $margin-50 0;
  text-decoration: none;
  color: inherit;
  clear: both;
  @include clearfix;

  @include media-query(sm) {
    padding: $margin-50;
  }

  &:hover {
    background: #ececec;
  }

  img {
    float: left;
    width: 75px;
    height: 75px;
    object-fit: contain;

    .flexbox & {
      align-self: flex-start;
      flex-shrink: 0;
    }
  }

  .flexbox & {
    display: flex;
    align-items: center;
  }

  @include media-query(sm) {
    .region--split__main & {
      float: left;
      width: 33.3%;
      border: 0;
      clear: none;
    }
  }
}

.guia--sugestoes__data {
  overflow: hidden;
  padding-left: $margin-50;
  @include clearfix;

  .region--split__aside &:first-child {
    padding-left: 0;
    .flexbox & {
      display: flex;
    }

    .guia--header__rating {
      float: left;
      margin-right: $margin-50;

      .flexbox & {
        flex-shrink: 0;
      }
    }
    .guia--sugestoes__title {
      display: inline-block;
      //float: right;
      overflow: hidden;

      .flexbox & {
        order: 2;
      }
    }
  }
}

.guia--sugestoes__header {
  text-transform: uppercase;
  h4 {
    margin: 0;
  }
  span {
    color: #3498db;
  }
}

// Ofertas

.guia--ofertas {
  @include clearfix;
  margin-bottom: $margin;
  //margin-right: -$margin-50;
  //margin-left: -$margin-50;
}

.guia--ofertas__header {
  display: block;
  margin-bottom: $margin;
  padding-left: $margin-50;
  padding-right: $margin-50;
  font-size: em(16,14);
  text-transform: uppercase;
}

.guia--ofertas__block {
  position: relative;
  display: block;
  padding: $margin-50 0;
  width: 100%;
  min-height: 1px;
  color: inherit;
  font-size: em(16,14);
  text-decoration: none;
  background: inherit;
  @include clearfix;
  clear: both;

  &:hover {
   background: #ececec;
  }

  img {
    margin-right: $margin-50;
    width: 25%;
    height: auto;
    float: left;
  }

  @include media-query(sm) {
    padding: $margin-50;
    float: left;
    width: 33.3%;
    clear: none;

    img {
      display: block;
      margin: 0;
      width: 100%;
    }

    &:nth-of-type(3n+1) {
      clear: both;
    }
  }
}

.guia--ofertas__title,
.guia--ofertas__price {
  display: block;
}

.guia--ofertas__price {
  float: right;
  display: block;
  padding-left: $margin-25;
  padding-bottom: $margin-25;
  color: darken($verde, 10%);
  text-align: right;
  font-weight: bold;
}

.price--currency {
  font-size: .66em;
  vertical-align: text-top;
  line-height: 1.66;
  padding-right: .25em;
  font-weight: normal;
}

.guia--telefone {
  display: block;
  margin-top: $margin;
  margin-bottom: $margin;
  padding: 0 $margin-50;
  font-size: 16px;

  .icons {
    font-size: 1.25em;
    vertical-align: middle;
    margin-right: .25em;
  }
}

.guia--contato {
  position: relative;
  min-height: 1px;
  @include media-query(sm) {
    float: left;
    width: 55%;
    padding-right: $margin-50;
  }
}

.guia--ratingbox {
  position: relative;
  min-height: 1px;
  @include media-query(sm) {
    float: left;
    width: 45%;
    padding-left: $margin-50;
  }

  .guia--header__rating {
    display: block;
    padding-bottom: 20%;
    width: 100%;
    height: 0;
    background-origin: border-box;
    background-size: 20% auto;
  }

  .rating--bar {
    display: block;
    padding-bottom: 100%;
    max-width: 100%;
    height: 0;
    background-origin: border-box;
    background-size: 20% auto;
  }
}

.guia--ratingbox__box {
  @include clearfix;
  display: block;
  margin-left: auto;
  max-width: 200px;
}

.guia--ratingbox__star {
  float: right;
  display: block;
  font-size: 16px;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  background-image: url('/theme/H2foz/img/star-blank.png');
  background-image: url('/theme/H2foz/img/star-blank.svg');
  background-size: 100% auto;

  &:hover,
  &.rated {
    background-image: url('/theme/H2foz/img/star-bright.png');
    background-image: url('/theme/H2foz/img/star-bright.svg');
  }

  &:hover ~ #{&},
  &.rated ~ #{&} {
    background-image: url('/theme/H2foz/img/star-bright.png');
    background-image: url('/theme/H2foz/img/star-bright.svg');
  }
}
