.region--header {
  border-top: em(5) solid $lemon;
  background: linear-gradient(to bottom, rgba(251,253,255,1) 0%, rgba(229,246,255,1) 100%);
}

.default--header {
  display: block;
  margin-bottom: $margin-25;
  padding: $margin-50 $margin;
  color: $branco;
  background: $laranja;
  font-size: em(22);
}

.header__amarelo {
  background: $amarelo;
  color: $preto;
}

.header__azul {
  background: $azul;
}

.header__lemon {
  background: $lemon;
  color: $preto;
}

.header__rosa {
  background: $rosa;
}

.header__verde {
  background: $verde;
}

.header__vermelho {
  background: $vermelho;
}

.header__violeta {
  background: $violeta;
}
