input[type="search"] {
  -webkit-appearance: none;
  box-sizing: border-box;
}

.input--group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input--field,
.input--textarea,
.input--select {
  display: block;
  border: 1px solid nth($cinzas, 5);
  padding: $margin-25 $margin-50;
  width: 100%;
  color: $preto;
  background-color: $branco;
  background-image: none;
  line-height: $line-height-base;
  font-size: $font-size-input + px;
  border-radius: em(4, $font-size-input);
  box-shadow: inset 0 1px 1px rgba($preto, .075);
  transition: border-color ease-in-out .2s, box-shadow ease-in-out .2s;

  .input--group & {
    position: relative;
    display: table-cell;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;

    &:focus,
    &:active {
      z-index: 3;
    }
  }
}

.input--field {
  height: em(34, $font-size-input);
}

.input--textarea {
  resize: none;
}

// .input--select {
//   display: block;
//   width: 100%;
//   height: em(34, $font-size-input);
// }

.input--field__search {
  max-width: em(200, $font-size-input);
  .input--group & {
    float: right;
  }
}

.input--group__btn,
.input--group__addon {
  position: relative;
  display: table-cell;
  width: 1%;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}

.input--group__addon {
  padding: 0 em(4, $font-size-input);
  font-size: 14px;
  background: nth($cinzas, 5);
  border-radius: em(4, $font-size-input);
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  margin-bottom: 0;
  padding: $margin-25 $margin-50;
  background-image: none;
  border-radius: em(4, $font-size-input);
  font-size: $font-size-input + px;
  font-weight: 400;
  line-height: $line-height-base;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  transition: background-color ease-in-out .15s;

  .input--group__btn > & {
    position: relative;
    height: em(34, $font-size-input);
  }
}

.btn-default {
  color: nth($cinzas, 1);
  background-color: $branco;
  border-color: nth($cinzas, 5);

  &:hover {
    background-color: nth($cinzas, 6);
  }
}

.btn--large {
  font-size: 1.25em;
  padding: .25em 1em;
}

.input--group .input--field:first-child,
.input--group__addon:first-child,
.input--group__btn:first-child > .btn,
.input--group__btn:first-child > .btn--group > .btn,
.input--group__btn:first-child > .dropdown--toggle,
.input--group__btn:last-child > .btn--group:not(:last-child) > .btn,
.input--group__btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input--group .form-control:last-child,
.input--group__addon:last-child,
.input--group__btn:first-child > .btn--group:not(:first-child) > .btn,
.input--group__btn:first-child > .btn:not(:first-child),
.input--group__btn:last-child > .btn,
.input--group__btn:last-child > .btn--group > .btn,
.input--group__btn:last-child > .dropdown-toggle,
.input--group__addon:first-child + .input--field {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input--group__btn:last-child > .btn,
.input--group__btn:last-child > .btn--group {
  z-index: 2;
  margin-left: -1px;
}

.guia--form {
  .input--group {
    width: 100%;
  }
}

.input--btn {
  margin-top: $margin-50;
  margin-bottom: $margin-50;
  &:only-child {
    margin-top: 0;
    float: right;
  }
}

.btn-azul {
  color: $branco;;
  background-color: $azul;
  border-color: darken($azul, 10%);

  &:hover {
    background-color: lighten($azul, 5%);
  }
}

.input--checkbox {
  display: inline-block;
  vertical-align: middle;

  + label {
    padding-left: .5em;
    display: inline-block;
    vertical-align: middle;
  }
}

.input--collection {
  @include clearfix;
  margin-left: -$margin-50;
  margin-right: -$margin-50;
}

.input--block {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: $margin-50;
  padding-right: $margin-50;
  width: 100%;
  + #{&} {
    margin-top: $margin;
  }
  &__6,
  &__4 {
    @include media-query(sm) {
      width: 50%;
    }
  }
  &__4 {
    @include media-query(md) {
      width: 33.333%;
    }
  }
  &__12 {
    width: 100%;
  }
}