.region--lista {
  .news--headline {
    overflow: visible;
    @include media-query(sm) {
      overflow: hidden;
    }
  }
  .news--headline__image {
    width: 50%;
    width: calc(50% - #{$margin-200});
    max-width: 50%;
    margin-right: $margin;
  }
  .headline--title {
    font-size: 1.25em;
    overflow: hidden;
  }
  .headline--excerpt {
    display: block;
  }
}

.news--pagination {
  font-size: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: $margin;
  margin-bottom: $margin;
  text-align: right;
  float: right;
  box-shadow: 2px 2px 4px 0 rgba(#000, .1);

  a {
    display: inline-block;
    font-size: 16px;
    padding: $margin-50 $margin-75;
    text-decoration: none;
    transition: .15s;
    color: #000;

    &:hover {
      color: darken($azul, 10%);
      background: #ececec;
    }

    + a {
      border-left: 1px solid #ccc;
    }
  }
}

