.region--media {
  margin-bottom: $margin;
}

.media--block__tabs {
  background: $titanium;

  .flexbox & {
    -js-display: flex;
    display: flex;
    flex-flow: row nowrap;

    @include media-query(sm) {
      display: block;
    }
  }
}

.media--block__tab {
  background: lighten($titanium, 10%);
  color: $branco;
  text-align: center; 

  .flexbox & {
    flex-grow: 1;
  }

  &:hover {
    background: lighten($titanium, 15%);
  }

  .is--active & {
    background: $laranja;

    &:after {
      border-top-color: $laranja;
    }
  }
}

.media--block__content {
  padding: $margin-150 $margin $margin;
  background: $titanium;
}

.media--block {
  position: relative;
  height: em(172);
  background-size: cover;
  background-position: center center;
}

.media--headline {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  color: $branco;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba($preto,.05) 0%, rgba($preto,.6) 100%);
  text-shadow: 1px 1px 0px rgba($preto, .75);
}

.media--headline__title {
  position: absolute;
  bottom: $margin;
  left: $margin;
  right: $margin;
  display: block;
  z-index: 3;
}

.media--block__video {
  $size: 60px;
  position: relative;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: $size;
    height: $size;
    border-radius: 100%;
    border: 5px solid nth($cinzas, 6);
    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    display: block;
    margin-left: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent nth($cinzas, 6);
    pointer-events: none;
  }
}

.media--link__archive {
  display: none;
  text-align: center;
  padding: 12px 16px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background: $laranja;
  margin-top: $margin;
  border-radius: 3px;

  @include media-query(sm) {
    position: absolute;
    top: 0;
    right: $margin;
    margin-top: 0;
    background: transparent;
    border-radius: 0;
  }

  &:hover {
    text-decoration: underline;
  }

  .is--active & {
    display: block;
  }
}