.region--mosaic {
  margin-bottom: $margin;
}

.mosaic--wrapper {
  @include clearfix;
}

.mosaic--block,
.mosaic--collection {
  position: relative;
  min-height: 1px;
  float: left;
  width: 100%;
  @include media-query(md) {
    width: 50%;
  }
}

.mosaic--collection {
  @include clearfix;
}

.mosaic--block {
  height: 50vw;
  max-height: em(382);
  padding: em(1);

  .mosaic--collection & {
    height: 25vw;
    max-height: em(191);
    @include media-query(sm) {
      width: 50%;
    }
  }
}

.mosaic--news {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.mosaic--headline {
  position: absolute;
  bottom: 0;
  display: block;
  padding: $margin;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba($preto,.15) 0%, rgba($preto,.75) 100%);
  box-shadow: 0px -10px 10px 0px rgba($preto,.15);
  text-shadow: 1px 1px 0px rgba($preto, .75);
}