$cores_menu: ($azul, $amarelo, $verde, $violeta, $vermelho);

.region--nav {
  margin-bottom: $margin;
  background: $branco;
  box-shadow: 0 em(4) em(4) 0 rgba($preto, .15);
}

.nav--toggle {
  @include media-query(sm) {
    display: none;
  }
}

.nav--flex {
  display: table;
  width: 100%;

  .flexbox & {
    -js-display: flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

.nav--wrapper {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 3;
  max-height: calc(100vh - 146px);
  overflow: auto;
  height: 0;
  transition: height .2s;

  .is--menu__open & {
    height: 100vh;
  }


  @include media-query(sm) {
    position: static;
    display: table-cell;
    float: left;
    width: 50%;
    height: auto;
    white-space: nowrap;
    overflow: visible;
    //overflow: hidden;

    .is--menu__open & {
      height: auto;
    }

    .flexbox & {
      width: auto;
      flex: 1 0 auto;
    }
  }
}

.nav--search {
  display: table-cell;
  float: right;
  white-space: nowrap;
  width: 50%;

  .flexbox & {
    width: auto;
    flex: 0 1 auto;
  }
}

.search--form {
  padding-top: $margin-50;
  padding-bottom: $margin-50;
}

.nav--list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;

  > li {
    display: block;
    position: relative;
    @include media-query(sm) {
      display: inline-block;
    }
  }

  a {
    position: relative;
    &:after {
      content: "\002B";
      float: right;
      font-size: 2em;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      @include media-query(sm) {
        float: none;
        position: relative;
        display: inline-block;
        padding-left: .5em;
        line-height: 1;
        white-space: nowrap;
        vertical-align: middle;
        right: auto;
        top: -2px;
        transform: none;
      }
    }

    &:only-child {
      &:after {
        display: none !important;
      }
    }
  }

  .active > a {
    &:after {
      content: "\002D"
    }
  }
}

.nav--button {
  display: block;
  font-size: ($font-size-base - 2) + px;
  padding: $margin $margin-50;
  color: nth($cinzas, 2);
  text-decoration: none;
  transition: border-color .2s, color .15s;
  //text-transform: uppercase;
  font-weight: 700;

  &:after {
    display: none !important;
  }

  &:before {
    display: block;
    opacity: 0;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0;
    position: absolute;
    top: 100%;
    left: 12.5px;
    transition: opacity .15s; 
    pointer-events: none;
    z-index: 2;
  }

  &:only-child:before {
    display: none;
  }

  li:hover > & {
    &:before {
      opacity: 1;
      border-width: 0 12.5px 15px 12.5px;
      pointer-events: auto;
    }
  }

  @for $i from length($cores_menu) through 1 {
    li:nth-child(#{length($cores_menu)}n+#{$i}) & {
      background: nth($cores_menu, $i);
      color: #fff;
      @include media-query(sm) {
        background: #fff;
        color: nth($cores_menu, $i);
        border-bottom: 2px solid nth($cores_menu, $i);
        &:hover {
          border-color: lighten(nth($cores_menu, $i), 5%);
          color: lighten(nth($cores_menu, $i), 5%);
        }
        &:before {
          border-color: transparent transparent nth($cores_menu, $i);
        }
      }
      
    }
  }
}

.nav--dropdown {
  transition: max-height .15s;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;

  .active & {
    max-height: 1024px;
  }

  @include media-query(sm) {
    position: absolute;
    overflow: visible;
    max-height: 100%;
    top: 100%;
    left: -9999px;
    display: table;
    z-index: -1;
    opacity: 0;
    transition: opacity .15s;
    padding: 13px 0 0;

    li:hover > & {
      opacity: 1;
      z-index: 2;
      left: 0;
    }
  }
  
  a {
    display: block;
    white-space: nowrap;
    font-size: .8rem;
    padding: $margin-50;
    color: $branco;
    text-decoration: none;
    transition: background .2s;
  }

  @for $i from length($cores_menu) through 1 {
    .nav--list > li:nth-child(#{length($cores_menu)}n+#{$i}) & {
      .nav--dropdown__list {
        background: nth($cores_menu, $i);
      }
      a {
        background: nth($cores_menu, $i);
        &:before {
          border-color: transparent lighten(nth($cores_menu, $i), 10%) transparent transparent;
        }
        &:hover {
          background: lighten(nth($cores_menu, $i), 5%);
        }
      }
      .nav--dropdown__sublistitem a {
        background: lighten(nth($cores_menu, $i), 10%);
        &:hover {
          background: lighten(nth($cores_menu, $i), 15%);
        }
      }
    }
  }
}

.nav--dropdown__list {
  margin: 0;
  padding: 0;

  @include media-query(sm) {
    display: table-cell;

    li {
      position: relative;
      &:hover {
        > a {
          position: relative;
          &:before {
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12.5px 15px 12.5px 0;
            position: absolute;
            right: -10px;
            top: 5px;
            z-index: 2;

            .nav--list > li:last-child & {
              right: auto;
              left: -10px;
              transform: rotate(180deg);
            }
          }
          &:only-child {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

.nav--dropdown__submenu {
  @include media-query(xs) {
    max-height: 0;
    overflow: hidden;

    .active > & {
      max-height: 100%;
      overflow: auto;
      z-index: 2;
    }
  }


  @include media-query(sm) {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    max-height: 350px;
    visibility: hidden;
    z-index: 2;

    li:hover > & {
      display: table;
      visibility: visible;
    }

    .nav--list > li:last-child & {
      left: auto;
      right: 100%;
    }
  }
}

.nav--dropdown__sublist {
  margin: 0;
  padding: 0;

  @include media-query(sm) {
    display: table-cell;
    margin: 0;
    padding: 0 0 0 10px;
    z-index: 2;

    .nav--list > li:last-child & {
      padding: 0;

      &:last-child {
        padding-right: 10px;
      }
    }

    + #{&} {
      padding: 0;

      a {
        border-left: 1px solid rgba(255,255,255,.5);
      }
    }
  }
}


.nav--dropdown .nav--dropdown__sublistitem {
  a {
    border-top: 1px solid rgba(255,255,255,.5);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
  }
  
  + li:not(.nav--dropdown__sublistitem) a {
    border-top: 1px solid rgba(255,255,255,.667);
  }
}
