.region--split__main,
.region--split__aside {
  width: 100%;
  @include make-col();
}
$calc: $font-size-base + 300 + px;

.region--split__main {
  @include media-query(sm) {
    width: calc(100% - #{$calc});
  }
}

.region--split__aside {
  @include media-query(sm) {
    width: $calc;
  }
}

.region--news {
  margin-bottom: $margin;

  .col-sm-6 {
    &:nth-child(2n+3) {
      clear: both;
    }
  }
}

.news--header {
  display: block;
  border-bottom: 1px solid nth($cinzas, 6);
  margin-bottom: $margin-150;
  font-size: em(18);
}

.news--header__title {
  position: relative;
  bottom: -1px;
  border-bottom: 1px solid $azul;
  display: inline-block;
  font-weight: 700;
  line-height: 2.5;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }

  &:hover {
    color: $titanium;
  }

  &--large {
    font-size: 1.25em;
  }
}

.news--metadata {
  margin-right: -$margin-25;
  margin-bottom: $margin-25;
  margin-left: -$margin-25;

  .news--header + .news--block & {
    margin-top: $margin-50;
  }
}

.headline--category {
  position: relative;
  display: block;
  font-size: em(12);
  text-transform: uppercase;
  text-decoration: none;
  color: $azul;

  &:hover {
    text-decoration: underline;
  }

  .news--metadata & {
    display: inline-block;
    padding-left: $margin-25;
    padding-right: $margin-25;
  }

  .mosaic--block & {
    color: $branco;
  }

  + #{&} {
    &:before {
      content: "|";
      color: nth($cinzas, 4);
      display: inline-block;
      //padding: 0 $margin-25;
    }

    .icons {
      display: none;
    }
  }
}

.headline--datetime {
  position: relative;
  display: inline-block;
  font-size: em(12);
  padding-left: $margin-25;
  padding-right: $margin-25;
  text-transform: uppercase;
  text-decoration: none;
  color: nth($cinzas, 4);

  .headline--title + & {
    padding-left: 0;
    display: block;
  }
}

.headline--title {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: em(14);
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  color: $preto;

  .mosaic--block & {
    color: $branco;
    text-transform: uppercase;

    .mosaic--wrapper > & {
      font-size: em(22);
    }
  }

  .news--header + .news--block & {
    font-size: em(18);
  }
}

.headline--excerpt {
  margin-top: $margin-50;
  margin-bottom: 0;
  font-size: em(12);
  color: $preto;

  @include media-query(sm) {
    font-size: em(14);
  }
  
  .mosaic--block & {
    color: $branco;
  }

  .mosaic--collection & {
    display: none;
  }

  .news--block & {
    display: none;
    .news--header + & {
      display: block;
    }
  }
}

.news--headline__image {
  float: left;
  max-width: 25%;
  margin-right: $margin-50;

  .news--header + .news--block & {
    float: none;
    max-width: 100%;
    margin-right: 0;
  }
}

.news--headline {
  overflow: hidden;
}

.news--block {
  @include clearfix;
  border-bottom: 1px dashed nth($cinzas, 6);
  padding-bottom: $margin;

  + #{&} {
    margin-top: $margin;
  }
}