.poll--list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: em(14);

  li + li {
    margin-top: $margin;
  }
}

.poll--options {
  display: table;
  width: 100%;
  border-collapse: separate;
  span {
    display: table-cell;
    vertical-align: bottom;

    &:first-child {
      width: 100%;
    }
  }
}

.poll--percent {
  text-align: right;
}

.poll--bar {
  width: 100%;
  height: em(16,14);
  background: nth($cinzas, 6);
}

.poll--bar__loaded {
  height: em(16,14);
  background: $azul;
}

.poll--footer {
  text-align: center;
  margin-bottom: $margin;
  p {
    font-weight: 700;
  }
  a {
    font-size: em(14);
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
  .input--btn {
    border: 0;
    padding: .4em .8em;
    border-radius: 4px;
  }
}

.poll--form {
  text-align: center;
}

.poll--radios {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.form--group__radio {
  + #{&} {
    margin-top: .5em;
  }
}

.form--radio {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  line-height: normal;
}

.form--option {
  vertical-align: text-top;
  margin-left: 5px;
  display: inline;
  font-weight: normal;
  max-width: 100%;
  margin-bottom: 5px;
}