:root {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
    &:before,
    &:after {
      box-sizing: inherit;
    }
  }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.container-fluid {
  max-width: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.content--wrapper {
  margin: 0 auto;
  max-width: em(1170);
  padding-left: $margin;
  padding-right: $margin;
  position: relative;
  width: 100%;
}

.region {
  @include clearfix;
  clear: both;
}