.shopping--tabs__wrapper {
  margin-top: -$margin-25;
  background: $titanium;
  color: $branco;

  .flexbox & {
    -js-display: flex;
    display: flex;
    flex-flow: row nowrap;

    @include media-query(sm) {
      display: block;
    }
  }
}

.shopping--tabs__tab {
  color: inherit;
  font-size: 14px;
  text-align: center;

  .flexbox & {
    flex-grow: 1;
  }

  @include media-query(sm) {
    font-size: 16px;
  }

  @include media-query(md) {
    font-size: 20px;
  }

  .is--active & {
    background: $azul;
    
    &:after {
      border-top-color: $azul;
    }
  }
}

.shopping--aside {
  margin-bottom: $margin;
  padding: $margin;
  background: $azul;
  color: $branco;
}

.shopping--aside__header {
  display: block;
  margin-bottom: $margin-50;
  text-transform: uppercase;
  font-size: em(18);
}

.shopping--aside__list {
  padding: 0;
  margin: 0;
  list-style: none;

  li + li {
    margin-top: $margin-50;
  }
}

.shopping--aside__button {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  span {
    vertical-align: middle;
    white-space: nowrap;
  }

  .icons {
    display: inline-block;
    margin-right: $margin-50;
    min-width: em(30, 24);
    font-size: em(24);
    vertical-align: middle;
    text-align: center;
    color: rgba($branco, .5);
    transition: color .15s;
  }

  &:hover {
    .icons {
      color: $branco;
    }
  }
}

.shopping--highlights {
  margin-bottom: $margin;
}

.shopping--highlights__block {
  display: block;
  margin-bottom: $margin;
  text-decoration: none;
  font-size: em(16, 14);
}

.shopping--highlights__image {
  margin-bottom: $margin-25;
  width: 100%;
  height: auto;
}


.shopping--categories__block {
  display: block;
  margin-bottom: $margin;
  padding: $margin-50;
  background: nth($cinzas, 6);
  color: $azul;
  text-align: center;
  text-decoration: none;
  //transition: background .15s;

  .icons {
    display: block;
    font-size: em(48);
    transition: transform .15s;
  }

  &:hover {
    //background: $branco;

    .icons {
      transform: rotate(15deg) scale(1.25);
    }
  }
}

.shopping--categories__title {
  display: block;
  white-space: nowrap;
}
