.region--sitemap {
  display: none;
  border-top: 4px solid $lemon;
  padding-top: $margin;
  padding-bottom: $margin;
  background: $azul;

  @include media-query(sm) {
    display: block;
  }
}

.sitemap--list {
  margin: 0;
  padding: 0;
  list-style: inside disc;
  color: $branco;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.sitemap--header {
  display: block;
  margin-top: $margin-50;
  margin-bottom: $margin-50;
  color: $lemon;
  font-weight: 700;
  font-size: em(18);

  &:first-child {
    margin-top: 0;
  }
}