.carousel {
  overflow-x: hidden;
  white-space: nowrap;
  &.slick-initialized {
    overflow-x: visible;
  }
}

.carousel--slide {
  display: inline-block;
  white-space: nowrap;
  
  .slick-initialized & {
    display: block;
  }
}

.carousel-for {
  margin-bottom: $margin;
}

.slick-arrow {
  @include appearance(none);
  position: absolute;
  top: 50%;
  left: 0;
  border: 0;
  padding: $margin-50 $margin-75;
  width: 50px;
  height: 50px;
  background: $branco;
  color: $azul;
  font-size: em(24);
  border-radius: em(5,24);
  transform: translate(-40%, -50%);
  z-index: 5;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.25);

  @include media-query(md) {
    display: none;
    transform: translate(-150%, -50%);
    opacity: 0;
    transition: transform .15s, opacity .15s;

    .slick-slider:hover & {
      display: block;
      opacity: 1;
      transform: translate(-40%, -50%);
    }
  }
  
  &.slick-next {
    left: auto;
    right: 0;
    transform: translate(40%, -50%);
    
    @include media-query(md) {
      transform: translate(150%, -50%);

      .slick-slider:hover & {
        transform: translate(40%, -50%);
      }
    }
    
  }
}