.social--block {
  display: flex;
  align-items: center;
  margin-bottom: $margin;
  text-decoration: none;
  color: #383838;
}

.social--block__value {
  padding-left: $margin;
  font-size: 14px;
}

.social--block__icon {
  position: relative;
  display: inline-block;
  padding: $margin-50 $margin;
  width: em(64,32);
  height: em(64,32);
  font-size: em(32);
  text-align: center;
  &:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -12px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 12px;
    border-color: transparent transparent transparent #007bff;
  }
  .icons {
    vertical-align: middle;
  }
  .social--block__youtube & {
    color: $branco;
    background: #e52d27;
    &:after {
      border-left-color: #e52d27;
    }
  }
  .social--block__twitter & {
    color: $branco;
    background: #6cadde;
    &:after {
      border-left-color: #6cadde;
    }
  }
  .social--block__facebook & {
    color: $branco;
    background: #3b5998;
    &:after {
      border-left-color: #3b5998;
    }
  }
  .social--block__rss & {
    color: $branco;
    background: #ee802f;
    &:after {
      border-left-color: #ee802f;
    }
  }
}
