.region--subscribe {
  margin-bottom: $margin;
}

.subscribe--form {
  color: $branco;
  text-align: center;
}

.subscribe--wrapper {
  @include clearfix;
  border-top: 4px solid $lemon;
  padding: $margin-300 $margin;
  background-size: $margin $margin;
  background-image: linear-gradient(-45deg, rgba(black, 0.1)  25%, transparent 25%, transparent 50%, rgba(black, 0.1) 50%, rgba(black, 0.1) 75%, transparent 75%, transparent);
  background-color: $titanium;
  background-repeat: repeat-x;
  background-position: 0 $margin;
}

.subscribe--input__wrapper {
  position: relative;
  display: inline-block;
  max-width: 400px;
  vertical-align: middle;
}

.subscribe--label {
  vertical-align: middle;
  margin-right: $margin-50;
}

.subscribe--small {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 12px;
  text-align: left;
}

.subscribe--submit {
  background: $lemon;
  border-color: darken($lemon, 10%);

  &:hover {
    background: lighten($lemon, 10%);
  }
}