.tabs--wrapper {
  font-size: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  
  li {
    display: inline-block;
  }
}

.tabs--content {
  padding-top: $margin-150;
}

.tabs--tab {
  position: relative;
  display: inline-block;
  padding: $margin-50 $margin;
  font-size: 20px;
  text-decoration: none;
  color: $preto;

  &:after {
    $size: 12px;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $size $size 0 $size;
    border-color: transparent;
    //border-color: $laranja transparent transparent;
    transform: translateX(-50%);
  }
}

.tabs--strip {
  display: block !important;
  height: 0px;
  overflow: hidden;
  //position: absolute;
  ///z-index: -1;
  //visibility: hidden;
  //z-index: 1;
  //height: 0;
  &.is--active {
    display: block !important;
    height: auto;
    overflow: visible;
    //overflow: hidden;
    //position: relative;
    //z-index: inherit;
    //visibility: visible;
    //z-index: 2;
    //height: auto;
  }
}