.header--table {
	display: table;
	width: 100%;
	margin-top: .5em;
	margin-bottom: .5em;

	.flexbox & {
		display: flex;
		flex-wrap: wrap;
	}

	.banner--block {
		margin-bottom: 0;
		margin-right: 0;
		display: table-cell;

		.flexbox & {
			display: block;
		}

		img {
			max-width: 100%;
		}
	}

	.logo--wrapper {
		flex-shrink: 0;
		display: table-cell;

		.flexbox & {
			display: block;
		}
	}
}