$preto: #000;
$branco: #fff;
$vermelho: #e74c3c;
$violeta: #9b59b6;
$verde: #2ecc71;
$amarelo: #f1c40f;
$azul: #3498db;
//$azul: #006996;
$lemon: #c7de45;
$laranja: #f60;
$rosa: #bb0b89;
$titanium: #34495e;

$cinzas: (
  lighten($preto, 20%),
  lighten($preto, 33.3%),
  lighten($preto, 50%),
  lighten($preto, 60%),
  lighten($preto, 75%),
  lighten($preto, 90%)
);

$font-size-base: 16;
$font-size-input: 14;
$line-height-base: 1.42857143;

$margin: $font-size-base + px;
$margin-50: ($font-size-base * 0.5) + px;
$margin-25: ($font-size-base * 0.25) + px;
$margin-75: ($font-size-base * 0.75) + px;
$margin-125: ($font-size-base * 1.25) + px;
$margin-150: ($font-size-base * 1.5) + px;
$margin-175: ($font-size-base * 1.75) + px;
$margin-200: ($font-size-base * 2) + px;
$margin-250: ($font-size-base * 2.5) + px;
$margin-300: ($font-size-base * 3) + px;
$margin-400: ($font-size-base * 4) + px;
$margin-500: ($font-size-base * 5) + px;

$grid-gutter-width: $font-size-base;
$grid-columns: 12;
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);
