#lista a{
    color: #000;
}
#lista .chapeu{
    font-size: 16px;
    margin-bottom: 10px;
}

#lista .titulo{
    margin-bottom: 10px;
}

.o-header{
    margin-bottom: 10px;
     color:  #292828;
}

#vejaTbm .titulo{
    margin-left: 10px;
}

#vejaTbm .chamada{
    margin-left: 10px;
}

#vejaTbm a{
    color:  #292828;
}

#vejaTbm h4{
    margin-bottom: 5px;
    line-height: 24px;
}

#vejaTbm .row{
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#blogs a{
    color:  #292828;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}

header h2{
    font-size: 1.2em;
    color: #be0027;
    letter-spacing: 1px;
    font-weight: 700;
    border-bottom: 1px solid #be0027;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

h3.titulo-publicidade{
    font-size: 12px;
    color: #BBB;
    letter-spacing: 1px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.bloco-dfp{
    text-align: center;
}

.o-pagination{
    text-align: center;
}

#tags a{
    color: #fff;
    font-size: 20px;
}
#tags h2{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -15px;
}

#tags{
    margin-bottom: 20px;
}

#tags .badge{
    margin-bottom: 10px;
}

#tags h4{
    margin-bottom: 5px;
    line-height: 24px;
}

.o-news_title{
    color:#292828;
    margin-bottom: 10px;
}

#autor .row{
    margin-bottom: 20px;
}