<h2>Agência</h2>

<blockquote><?php echo 'Procurando no diretório: '. $xmlsDIr; ?></blockquote>
<blockquote><?php echo 'Arquivos encontrados '. count($files); ?></blockquote>
<?php
 echo $this->Form->create('Agencia',array('url'=>$this->here));
//se encontrou algum arquivo
if(isset($files) && !empty($files)){?>
	<div id="arquivos">
		<ul>
			<?php
			foreach($files as $arquivo){ ?>
				<li>
					<!--<input type="checkbox" name="Importar[<?php echo $arquivo; ?>]">-->
					<?php echo $arquivo; ?>
				</li>
			<?php } ?> 
		</ul>
	</div>
	
	<div class="buttons">
		<a href="/agencia/agencia/importar/1/0" class="btn btn-default">Importar 1 notícia</a>
		<?php //echo $this->Form->submit('Importar'); ?>
	</div>
<?php }else{
	echo 'Nenhum arquivo encontrado';
} 
  echo $this->Form->end();
?>