.admin-menu {
    position: fixed;
    z-index: 999;
    display: inline-block;
    width: 100%;
    height: 36px;
    font-size: 16px;
    top: 0px;
    background-color: #333;
    color: #fff;
}

.admin-menu .nav a {
    color: #fff;
    height: 36px;
    line-height: 36px;
}

.admin-menu .open a,
.admin-menu a:focus {
    color: #333!important;
}

.admin-menu a:hover {
    color: #333;
    background-color: #eeeeee;
}

.admin__navbar,
.admin__navbar .navbar-nav {
    width: 100%;
}

.admin__navbar,
.admin__navbar .navbar-toggle {
    height: 36px;
    line-height: 36px;
}

.admin__navbar .navbar-toggle {
    margin-right: 0px;
    padding: 0px 10px 0px;
    border: 0px;
}

.admin__navbar .navbar-collapse .list-group-item {
    padding-bottom: 0px;
}

.admin__navbar .navbar-collapse {
    border-top: 0;
}

@media (max-width: 940px) {
    .admin__navbar .navbar-nav a {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 36px;
        line-height: 36px;
    }
    .admin__navbar .navbar-toggle:hover,
    .admin__navbar .navbar-toggle:focus,
    .admin__navbar .navbar-toggle[aria-expanded="true"] {
        background-color: white;
        color: rgba(0, 0, 0, .8);
        border-radius: 0px;
    }
    .admin__navbar .navbar-collapse {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, .8)
    }
    .admin-menu .admin__user.open {
        margin-top: 1px;
    }
    .admin-menu .admin__user.open .dropdown-menu {
        padding-top: 1px;
        padding-bottom: 0px;
    }
    .admin-menu .admin__user.open li a {
        color: white!important;
        padding-left: 25px;
        display: block;
    }
    .admin-menu .admin__user.open li a:hover,
    .admin-menu .admin__user.open li a:focus {
        color: rgba(0, 0, 0, .8)!important;
    }
}

body.admin-mode {
    padding-top: 36px!important;
}