<div class="share-social-link pull-right addthis_toolbox">
  <a href="#" class="addthis_button_facebook"><i class="fa fa-facebook"></i></a>
  <a href="#" class="addthis_button_twitter"><i class="fa fa-twitter"></i></a>
  <a href="#" class="addthis_button_google_plusone_share"><i class="fa fa-google-plus"></i></a>
  <!-- <a href="#" class="addthis_button_whatsapp"><i class="fa fa-whatsapp"></i></a> -->
</div>
