.top-line ul.social-icons li a:hover {
    background: #b51205
}

.navbar-brand span {
    color: #b51205!important
}

.navbar-nav>li>a:before {
    background: #b51205
}

.navbar-nav li.drop ul.dropdown {
    border-top: 3px solid #b51205
}

header.third-style .list-line-posts .owl-wrapper .owl-theme .owl-controls .owl-buttons div.owl-prev:hover, header.third-style .list-line-posts .owl-wrapper .owl-theme .owl-controls .owl-buttons div.owl-next:hover {
    border-color: #b51205;
    background: #b51205
}

.feature-video .title-section h2, .standard-post3 .post-title a.category-post, a, .video-link:hover {
    color: #b51205
}

.title-section h1 span {
    border-bottom: 1px solid #b51205
}

.title-section .arrow-box a:hover {
    background: #b51205;
    border: 1px solid #b51205
}

.title-section.white .arrow-box a:hover {
    border: 1px solid #b51205
}

a.category-post {
    background: #b51205
}

.ticker-news-box span.breaking-news {
    background: #b51205
}

.ticker-news-box span.breaking-news:after {
    background: #b51205
}

.ticker-news-box .ticker-content span.time-news {
    color: #b51205
}

.ticker-news-box .ticker-content a:hover {
    color: #b51205
}

.ticker-news-box .ticker-controls li:hover {
    border: 1px solid #b51205;
    background: #b51205
}

.owl-theme .owl-controls .owl-buttons div:hover {
    color: #fff;
    background: #b51205;
    border: 1px solid #b51205
}

.feature-video .owl-theme .owl-controls .owl-buttons div:hover {
    color: #fff;
    background: #b51205;
    border: 1px solid #b51205
}

.pagination-box ul.pagination-list li a:hover, .pagination-box ul.pagination-list li a.active {
    border: 1px solid #b51205;
    background: #b51205;
    color: #fff
}

.heading-news2 .ticker-news-box .ticker-content a:hover {
    color: #b51205
}

.heading-news2 .ticker-news-box .ticker-controls li:hover {
    border: 1px solid #b51205;
    background: #b51205
}

.center-button>a:hover {
    color: #fff;
    background: #b51205;
    border-color: #b51205
}

.slider-caption-box #bx-pager a.active {
    background: #b51205;
    color: #fff
}

.big-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
    border-color: #b51205;
    background: #b51205
}

.sidebar .features-slide-widget .bx-wrapper .bx-pager.bx-default-pager a:hover, .sidebar .features-slide-widget .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #b51205;
    border: 2px solid #b51205
}

.sidebar .subscribe-widget form button {
    color: #b51205
}

.sidebar .tab-posts-widget ul.nav-tabs {
    border-bottom: 2px solid #b51205
}

.sidebar .tab-posts-widget ul.nav-tabs li a:hover {
    background: #b51205
}

.sidebar .tab-posts-widget ul.nav-tabs li.active a {
    border: none;
    background: #b51205
}

.sidebar .review-widget h1 {
    background: #b51205
}

.sidebar .review-widget ul.review-posts-list li h2 a:hover {
    color: #b51205
}

.sidebar .categories-widget ul.category-list li a:hover {
    color: #b51205
}

.sidebar .categories-widget ul.category-list li a:hover span {
    background: #b51205;
    border: 1px solid #b51205
}

.sidebar .flickr-widget>a:hover {
    color: #b51205
}

a.read-more-button:hover {
    background: #b51205;
    border-color: #b51205
}

span.top-stories {
    background: #b51205
}

.image-post:hover .hover-box .inner-hover h2 a:hover {
    color: #b51205
}

.image-post:hover .hover-box .inner-hover ul.post-tags li a:hover {
    color: #b51205
}

ul.post-tags li a:hover {
    color: #b51205
}

.standard-post .post-content h2 a:hover {
    color: #b51205
}

.standard-post2 .post-title h2 a:hover {
    color: #b51205
}

.image-post2 .hover-box ul.post-tags li a:hover {
    color: #b51205
}

.image-post2 div.post-content p a {
    color: #b51205
}

ul.list-posts>li .post-content h2 a:hover {
    color: #b51205
}

.article-post .post-content h2 a:hover {
    color: #b51205
}

.large-post .post-title h2 a:hover {
    color: #b51205
}

div.list-post .post-content h2 a:hover {
    color: #b51205
}

.very-large-post .title-post h2 a:hover {
    color: #b51205
}

.very-large-post .share-box a.likes:hover {
    color: #b51205
}

.very-large-post .share-box a.likes:hover i {
    color: #b51205
}

.single-post-box>.post-content p a {
    color: #b51205
}

.single-post-box .article-inpost .image-content .image-place .hover-image a {
    background: #b51205
}

.single-post-box .review-box .member-skills .meter p {
    background: #b51205
}

.single-post-box .review-box .summary-box .summary-degree {
    background: #b51205
}

.single-post-box .prev-next-posts .post-content h2 a:hover {
    color: #b51205
}

.single-post-box .about-more-autor ul.nav-tabs {
    border-bottom: 2px solid #b51205
}

.single-post-box .about-more-autor ul.nav-tabs li a:hover {
    background: #b51205
}

.single-post-box .about-more-autor ul.nav-tabs li.active a {
    background: #b51205
}

.single-post-box .about-more-autor .autor-box .autor-content .autor-title h1 a {
    color: #b51205
}

.single-post-box .about-more-autor .autor-box .autor-content .autor-title ul.autor-social li a:hover {
    background: #b51205
}

.single-post-box .comment-area-box ul li .comment-box .comment-content h4 a.comment-reply-link:hover {
    background: #b51205;
    border: 1px solid #b51205
}

.contact-form-box #contact-form input[type="text"]:focus, .contact-form-box #comment-form input[type="text"]:focus, .contact-form-box #contact-form textarea:focus, .contact-form-box #comment-form textarea:focus {
    border: 1px solid #b51205
}

.contact-form-box #contact-form button:hover, .contact-form-box #comment-form button:hover {
    background: #b51205
}

.error-banner {
    background: #b51205
}

ul.autor-list>li .autor-box .autor-content .autor-title h1 a {
    color: #b51205
}

ul.autor-list>li .autor-box .autor-content .autor-title ul.autor-social li a:hover {
    color: #b51205
}

ul.autor-list>li .autor-last-line ul.autor-tags li a:hover {
    background: #b51205;
    border-color: #b51205
}

.forum-table div.first-col a:hover {
    color: #b51205
}

.forum-table div.table-row>div h2 a:hover {
    color: #b51205
}

.forum-table div.table-row div.third-col p a {
    color: #b51205
}

.forum-table div.table-row div.forum-post .post-autor-date h2 a:hover {
    color: #b51205
}

.forum-table div.table-row div.forum-post .post-autor-date p a {
    color: #b51205
}

.forum-table p.posted-in-category a {
    color: #b51205
}

#log-in-popup form.login-form label span, #log-in-popup form.register-form label span, #log-in-popup form.lost-password-form label span {
    color: #b51205
}

#log-in-popup form.login-form button[type="submit"]:hover, #log-in-popup form.register-form button[type="submit"]:hover, #log-in-popup form.lost-password-form button[type="submit"]:hover {
    background: #b51205
}

#log-in-popup form.login-form>a:hover, #log-in-popup form.register-form>a:hover, #log-in-popup form.lost-password-form>a:hover {
    color: #b51205
}

#log-in-popup form.login-form p.register-line a:hover, #log-in-popup form.register-form p.register-line a:hover, #log-in-popup form.lost-password-form p.register-line a:hover, #log-in-popup form.login-form p.login-line a:hover, #log-in-popup form.register-form p.login-line a:hover, #log-in-popup form.lost-password-form p.login-line a:hover {
    color: #b51205
}

body.comming-soon-page #comming-soon-content #clock .comming-part p {
    color: #b51205
}

body.comming-soon-page #comming-soon-content form.subscribe h1 span {
    color: #b51205
}

body.comming-soon-page #comming-soon-content form.subscribe input[type=text]:focus {
    border: 1px solid #b51205
}

body.comming-soon-page #comming-soon-content form.subscribe button:hover {
    background: #b51205
}

footer .categories-widget ul.category-list li a:hover {
    color: #b51205
}

footer .categories-widget ul.category-list li a:hover span {
    background: #b51205;
    border: 1px solid #b51205
}

footer .tags-widget ul.tag-list li a:hover {
    background: #b51205;
    border: 1px solid #b51205
}

footer .subscribe-widget form {
    background: #b51205
}

footer .subscribe-widget form button {
    background: #b51205
}

@media (max-width:767px) {
    .navbar-nav>li:hover>a {
        color: #b51205!important
    }
    header.second-style .navbar-nav>li a:hover {
        color: #b51205!important
    }
}

.widget_categories ul li:hover span {
    background: #b51205;
    border-color: #b51205
}

.widget_recent_entries ul li a:hover, .widget_recent_comments ul li a:hover, .widget_archive ul li a:hover, .widget_categories ul li a:hover, .widget_meta ul li a:hover, .widget_pages ul li a:hover, .widget_rss ul li a:hover, .widget_nav_menu ul li a:hover, .product-categories li a:hover {
    color: #b51205
}

#submit-contact:hover {
    background: #b51205
}

input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
    border: 1px solid #b51205
}

.title-section h2 span {
    border-bottom: 1px solid #b51205
}

.pagination-box ul.pagination-list li .current {
    border: 1px solid #b51205;
    background: #b51205
}

input[type="submit"]:hover {
    background: #b51205
}

#reply-title span {
    border-bottom: 1px solid #b51205
}

form.mc4wp-form button {
    color: #b51205
}

footer .tagcloud a:hover {
    background: #b51205
}

footer form.mc4wp-form {
    background: #b51205
}

footer form.mc4wp-form button {
    background: #b51205
}

.image-post3:hover .hover-box, .video-post:hover .hover-box, .image-post-slider .bx-wrapper .bx-prev:hover, .image-post-slider .bx-wrapper .bx-next:hover, .heading-news2 .heading-news-box .news-post:hover .hover-box, .galery-box #bx-pager2 a.active:before {
    background: rgba(181, 18, 5, .9)
}

.dark .tagcloud a:hover {
    background: #b51205;
    border-color: #b51205
}

.top-line {
    background-color: #222
}

footer {
    background: #b51205
}

/* header .logo-advertisement {
    background-image: url();
    !important
} */

#header {
    margin: 0 auto
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #000
}

.single-post-box .title-post h1 {
    color: #333;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 8px
}

/* .navbar-nav .category-cidades .megadropdown .inner-megadropdown {
    border-top-color:
} */

/* .navbar-nav .category-confidencial .megadropdown .inner-megadropdown {
    border-top-color:
} */

.navbar-nav>li.category-cotidiano>a:before, a.category-post.cotidiano {
    background: #d83195
}

.navbar-nav .megadropdown .cotidiano-dropdown {
    border-top-color: #d83195
}

.standard-post3 .post-title a.category-post.cotidiano {
    color: #d83195
}

.navbar-nav .category-cotidiano .megadropdown .inner-megadropdown {
    border-top-color: #d83195
}

/* .navbar-nav .category-cultura .megadropdown .inner-megadropdown {
    border-top-color:
} */

.navbar-nav>li.category-economia>a:before, a.category-post.economia {
    background: #910e00
}

.navbar-nav .megadropdown .economia-dropdown {
    border-top-color: #910e00
}

.standard-post3 .post-title a.category-post.economia {
    color: #910e00
}

.navbar-nav .category-economia .megadropdown .inner-megadropdown {
    border-top-color: #910e00
}

/* .navbar-nav .category-edicao-fisica .megadropdown .inner-megadropdown {
    border-top-color:
} */

.navbar-nav>li.category-esporte>a:before, a.category-post.esporte {
    background: #1e73be
}

.navbar-nav .megadropdown .esporte-dropdown {
    border-top-color: #1e73be
}

.standard-post3 .post-title a.category-post.esporte {
    color: #1e73be
}

.navbar-nav .category-esporte .megadropdown .inner-megadropdown {
    border-top-color: #1e73be
}

.navbar-nav>li.category-folha-na-escola>a:before, a.category-post.folha-na-escola {
    background: #26efd8
}

.navbar-nav .megadropdown .folha-na-escola-dropdown {
    border-top-color: #26efd8
}

.standard-post3 .post-title a.category-post.folha-na-escola {
    color: #26efd8
}

.navbar-nav .category-folha-na-escola .megadropdown .inner-megadropdown {
    border-top-color: #26efd8
}

.navbar-nav>li.category-opiniao>a:before, a.category-post.opiniao {
    background: #f9da4d
}

.navbar-nav .megadropdown .opiniao-dropdown {
    border-top-color: #f9da4d
}

.standard-post3 .post-title a.category-post.opiniao {
    color: #f9da4d
}

.navbar-nav .category-opiniao .megadropdown .inner-megadropdown {
    border-top-color: #f9da4d
}

.navbar-nav>li.category-parana>a:before, a.category-post.parana {
    background: #cc822e
}

.navbar-nav .megadropdown .parana-dropdown {
    border-top-color: #cc822e
}

.standard-post3 .post-title a.category-post.parana {
    color: #cc822e
}

.navbar-nav .category-parana .megadropdown .inner-megadropdown {
    border-top-color: #cc822e
}

.navbar-nav>li.category-politica>a:before, a.category-post.politica {
    background: #8224e3
}

.navbar-nav .megadropdown .politica-dropdown {
    border-top-color: #8224e3
}

.standard-post3 .post-title a.category-post.politica {
    color: #8224e3
}

.navbar-nav .category-politica .megadropdown .inner-megadropdown {
    border-top-color: #8224e3
}

.navbar-nav>li.category-rural>a:before, a.category-post.rural {
    background: #9e7922
}

.navbar-nav .megadropdown .rural-dropdown {
    border-top-color: #9e7922
}

.standard-post3 .post-title a.category-post.rural {
    color: #9e7922
}

.navbar-nav .category-rural .megadropdown .inner-megadropdown {
    border-top-color: #9e7922
}

.navbar-nav>li.category-seguranca>a:before, a.category-post.seguranca {
    background: #898989
}

.navbar-nav .megadropdown .seguranca-dropdown {
    border-top-color: #898989
}

.standard-post3 .post-title a.category-post.seguranca {
    color: #898989
}

.navbar-nav .category-seguranca .megadropdown .inner-megadropdown {
    border-top-color: #898989
}

.navbar-nav>li.category-sem-categoria>a:before, a.category-post.sem-categoria {
    background: #fff
}

.navbar-nav .megadropdown .sem-categoria-dropdown {
    border-top-color: #fff
}

.standard-post3 .post-title a.category-post.sem-categoria {
    color: #fff
}

.navbar-nav .category-sem-categoria .megadropdown .inner-megadropdown {
    border-top-color: #fff
}

/* .navbar-nav .category-social .megadropdown .inner-megadropdown {
    border-top-color:
} */

/* .navbar-nav .category-video .megadropdown .inner-megadropdown {
    border-top-color:
} */

.navbar-nav>li.page-325>a:before {
    background: #1e73be!important
}

.navbar-nav>li.page-327>a:before {
    background: #dd3333!important
}

.wp-image-76 size-full aligncenter .aligncenter {
    float: none;
    margin: 45px
}

.image-post3 .hover-box ul.post-tags li, .video-post .hover-box ul.post-tags li {
    color: #ccc;
    display: none
}

.image-post2 .hover-box ul.post-tags li {
    color: #ccc;
    display: none
}

.image-post .hover-box .inner-hover ul.post-tags li {
    display: inline-block;
    margin-right: 7px;
    color: #ccc;
    font-size: 12px;
    font-style: italic;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    display: none
}

.pagination-box {
    display: none
}

.advertisement span {
    color: #ccc;
    font-size: 10px;
    display: block;
    margin-bottom: 7px;
    text-transform: uppercase;
    display: none
}

.gf_browser_chrome gform_wrapper {
    background-color: #b51205
}

footer .widget p {
    color: #fff
}

footer p, footer a, footer .widget_recent_entries ul li a, footer .widget_recent_comments ul li a, footer .widget_archive ul li a, footer .widget_categories ul li a, footer .widget_meta ul li a, footer .widget_pages ul li a, footer .widget_rss ul li a, footer .widget_nav_menu ul li a, footer .product-categories li a {
    color: #fff
}

footer ul.social-icons li a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    width: 36px;
    height: 35px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #333;
    color: #fff;
    font-size: 20px;
    background: transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

footer .posts-widget ul.list-posts>li .post-content>a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    display: block;
    color: #fff;
    font-size: 12px;
    font-style: italic;
    margin: 0;
    line-height: 16px;
    margin-top: -2px
}

footer .posts-widget ul.list-posts>li .post-content h2 a {
    color: #fff
}

footer .footer-last-line p {
    font-size: 12px;
    color: #fff
}

.navbar-nav>li>a:before {
    background: #000
}

header.second-style .nav-list-container {
    background: #b51205;
    background: -moz-linear-gradient(top, #b51205 1%, #262626 100%);
    background: -webkit-linear-gradient(top, #b51205 1%, #6e0b05 100%);
    background: linear-gradient(to bottom, #b51205 1%, #6e0b05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#262626', GradientType=0);
    border-bottom: 1px solid #202020;
    background-color: #b51205
}

a.read-more-button {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    padding: 6px 10px;
    background: #fafafa;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #666;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    display: none
}

.codeneric_uam_link {
    display: inline-block;
    margin-top: 40px
}

#ppm-popup-409 .cross-btn-ppm {
    color: #000
}

#infscr-loading img {
    text-align: right
}

.sidebar .widget {
    margin-bottom: 20px
}

#yottie_1 .yottie-widget-nav-list-item.yottie-active a, #yottie_1 .yottie-widget-nav-list-item.yottie-active:hover a {
    color: rgb(0, 0, 0);
    display: none
}

#yottie_1 .yottie-widget-nav {
    background: rgb(255, 255, 255);
    display: none
}

.yottie-widget-video-classic.yottie-mw-230 div.yottie-widget-video-info {
    padding: 12px 12px 10px;
    background-color: #fff
}

._1drm ._1dro {
    bottom: 40px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: #b51205
}

._1drm._1ds4 ._1z7u {
    background: #b51205;
    border-top: 1px solid #e9ebee;
    padding-top: 7px
}

._2ph- {
    padding: 8px;
    background-color: #b51205
}

footer .widget_categories ul li span {
    color: #ddd;
    border: 1px solid #333
}

footer .footer-last-line nav.footer-nav ul li a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #ddd;
    font-size: 12px
}

.ppm-popup-wrapper {
    display: block;
    position: fixed;
    z-index: 100001;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -330px!important
}

codeneric_uam_image {
    margin-top: 0
}

.codeneric_uam_link {
    display: inline-block;
    margin-top: 0
}

header.second-style .navbar-form input[type="text"] {
    background: #fff;
    border: 1px solid #333
}

header.second-style .navbar-form button {
    color: #000
}

.feature-video .title-section h2, .standard-post3 .post-title a.category-post, a, .video-link:hover {
    color: #000
}

.footer .widget_categories ul li span:hover {
    color: #000
}

blockquote {
    padding: 20px 50px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee
}

.standard-post2 .post-title h2 {
    color: #333;
    font-weight: 700;
    line-height: 20px;
    margin: 0 0 10px;
    font-size: 20px
}

.h3, h3 {
    font-size: 16px
}

body {
    font-family: "Titillium Web";
    line-height: 35px;
    font-weight: 400;
    font-style: normal;
    color: #666;
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out
}

.single-post-box .share-post-box {
    margin-bottom: 0;
    padding: 20px 20px
}

.wpb_text_column p:last-child {
    margin-bottom: 0
}

.wpb_text_column p:last-child, .wpb_text_column blockquote {
    margin-bottom: 0px!important
}

body {
    font-family: "Titillium Web";
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    color: #666;
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out
}

.wf-loading body {
    opacity: 0
}

.ie.wf-loading body {
    visibility: hidden
}

.image-slider .bx-wrapper .bx-prev {
    width: 30px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 4%;
    left: 15px
}

.image-slider .bx-wrapper .bx-prev:before {
    margin-top: -13px;
    margin-left: -6px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out
}

.image-slider .bx-wrapper .bx-next {
    width: 30px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 5%;
    right: 30px
}

.image-slider .bx-wrapper .bx-next:before {
    margin-top: -13px;
    margin-left: -3px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out
}

.h3, h3 {
    display: none
}

.image-post .hover-box .inner-hover h2 {
    color: #333;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    margin: 0 0 10px;
    font-size: 65px;
    font-size: 16px
}

.image-post2 .hover-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: block;
    background: rgba(0, 0, 0, .6)
}

span.top-stories {
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 10px;
    background: #f44336;
    position: absolute;
    top: 50px;
    left: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    z-index: 2
}

.heading-news2 .heading-news-box .image-slider.snd-size .image-post .hover-box {
    background: rgba(0, 0, 0, .4)
}

a.category-post {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 21px;
    background: #f44336;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.image-post .hover-box .inner-hover a.category-post {
    margin-bottom: 0;
    position: relative;
    bottom: inherit;
    left: inherit
}

body {
    font-family: "Titillium Web";
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    color: #666;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out
}

ul.list-posts>li {
    list-style: none;
    padding-bottom: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    overflow: hidden
}

.grid-box .news-post, .grid-box ul.list-posts {
    margin-bottom: 21px
}

.heading-news2 .heading-news-box .image-slider.snd-size .image-post .hover-box .inner-hover h2 {
    font-size: 30px;
    font-weight: 900;
    line-height: 35px;
    margin-bottom: 90px
}

.bx-viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 400px
}

ul.list-posts>li {
    list-style: none;
    padding-bottom: 0;
    margin-bottom: 21px;
    border-bottom: 1px solid #fff;
    overflow: hidden
}

.vc_custom_1456111542658 {
    padding-right: 15px!important;
    padding-left: 15px!important
}

.wpb_animate_when_almost_visible {
    opacity: 1
}

/*MSWI**/

.single-post-box .title-post {
    padding: 0 20px 25px 0;
}

.the-content p {
    padding: unset;
}

.top-line ul.top-line-list.top-menu:before, .top-line ul.top-line-list li:before {
    content: unset;
}

.top-line-list li.dotted-left {
    padding-left: 10px;
    border-left: 1px dotted;
}

.heading-news2 {
    padding-bottom: unset;
}

/* inicio logo footer */

.logo-footer {
    width: 100%;
    position: relative;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: contain;
    color: white;
    font-size: 40px;
    padding: 10px
}

/* fim logo footer */

/* inicio enquete */

.o-poll_form {
    padding: 15px 35px 80px 35px;
    border: 0px;
    border-style: solid;
    border-bottom: 6px solid red;
    border-radius: 2px;
    background-color: #f9f6f687;
}

.o-poll_title div {
    text-align: center;
    font-weight: bold;
}

.o-poll_footer-item {
    float: right;
    padding-top: 20px;
}

.o-poll_descrition {
    text-align: center;
    padding-bottom: 35px;
}

form#NodeViewForm.o-poll div.radio {
    padding-bottom: 4px;
}

p.o-poll_label_text {
    padding-left: 4px;
    font-size: 14px;
}

/*  fim enquete */

.o-classificados_category {
    color: #52b3f4;
    letter-spacing: .015em;
    font-size: 14px
}

.o-classificados_category:hover, .o-classificados_price, .o-classificados_price:before {
    color: #1b2344
}

.o-classificados_content {
    color: inherit
}

.o-classificados_content:hover {
    color: #000
}

.o-classificados_content:hover .o-classificados_price, .o-classificados_content:hover .o-classificados_price:before {
    color: #52b3f4
}

.o-classificados_title {
    font-size: 16px
}

.o-classificados_header {
    border-bottom-color: #ccc
}

.o-classificados_header-title {
    color: #000;
    font-size: 20px
}

.o-classificados_header-input {
    border-color: #ccc
}

.o-classificados_header-input:focus, .o-classificados_header-input:focus+.o-classificados_header-btn {
    border-color: #2f68a7
}

.o-classificados_header-input:focus~.o-classificados_header-backdrop {
    box-shadow: 0 0 8px rgba(47, 104, 167, .6)
}

.o-classificados_header-btn {
    background: #fff;
    border-color: #ccc
}

.o-classificados_filters {
    border-color: #ccc;
    border-radius: 4px
}

.o-classificados_filters-toggle {
    font-size: 20px
}

.o-classificados_list .dropdown-toggle {
    border-color: #ccc
}

.o-classificados_n-anuncios {
    color: #e67e22
}

.c-classificados_banner {
    background-image: url(/images/classi-banner-bg.jpg)
}

.c-classificados_banner-title a {
    color: #fff;
    font-size: 28px;
    text-shadow: 1px 1px #000
}

.c-classificados_search {
    background: rgba(0, 0, 0, .5)
}

.c-classificados_tab a {
    color: #fff
}

.c-classificados_tab+.c-classificados_tab {
    border-left-color: #666
}

.c-classificados_panes {
    background: #fff
}

.c-classificados_group+.c-classificados_group {
    border-left-color: #ccc
}

.c-classificados_btn {
    background: #52b3f4;
    color: #fff
}

.c-classificados_btn .i-icon {
    color: #fff
}

.c-classificados_btn:hover {
    background: #1b2344;
    color: #fff
}

.c-classificados_btn:hover .i-icon {
    color: #fff
}

.c-classificados_category {
    color: #52b3f4;
    font-size: 14px
}

.c-classificados_category:hover {
    color: #1b2344
}

.c-classificados_title {
    color: #000;
    font-size: 28px
}

.c-classificados_price {
    color: #fff;
    background: #3c9a6b;
    font-size: 32px
}

.c-classificados_price:before {
    color: #fff
}

.c-classificados_price:after {
    border-color: transparent #3c9a6b
}

.c-classificados_contact {
    border-color: #f4d03f;
    background: #ffd;
    border-radius: 4px;
    font-size: 16px
}

.c-classificados_contact-group+.c-classificados_contact-group {
    border-top-color: rgba(0, 0, 0, .125)
}

.c-classificados_contact-form {
    font-size: 14px
}

.c-classificados_contact-form input, .c-classificados_contact-form textarea {
    border-color: #ccc;
    color: #555;
    background: #fff
}

.c-classificados_contact-form input:focus, .c-classificados_contact-form textarea:focus {
    border-color: #f1c40f;
    color: #555;
    background: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(243, 156, 18, .6)
}

.c-classificados_contact-btn {
    background: #f39c12;
    color: #fff;
    font-size: 18px;
    border-color: #e67e22
}

.c-classificados_contact-btn:hover {
    background: #f5b043;
    color: #fff
}

@media (min-width:768px) {
    .o-classificados_filters .dropdown {
        border-right-color: #ccc
    }
    .c-navigation_item.is--active>.c-navigation_button {
        box-shadow: 0 -3px #255686
    }
    .c-navigation_item.open>.c-navigation_button {
        box-shadow: 0 -3px #2f68a7
    }
    .c-navigation_item.open .i-icon_caret-down {
        color: #4496d5
    }
    .c-navigation_button {
        box-shadow: 0 -3px #2f68a7;
        font-size: 14px
    }
    .c-classificados_banner-title {
        font-size: 32px
    }
}

@media (max-width:767px) {
    .o-classificados_filters .dropdown-menu {
        background: #eee
    }
}

@media (min-width:1200px) {
    .c-article_title {
        font-size: 2.571428571em
    }
    .c-classificados_banner-title {
        font-size: 36px
    }
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.o-news_category {
    display: block;
    position: relative;
    margin-top: 8px;
    padding-bottom: 0;
    text-transform: uppercase;
    overflow: hidden;
    line-height: 1.5;
    vertical-align: middle;
    border-left-width: 8px;
    border-left-style: solid;
    padding-left: 8px;
    -webkit-transition: border-color .15s, color .2s;
    transition: border-color .15s, color .2s;
    border-left-color: #d31f19;
}

.o-header {
    margin-top: 48px;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    position: relative
}

.o-header {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #b51205
}

.o-header_read-more {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase
}

.o-header_read-more:hover {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid
}

.o-header_read-more .i-icon {
    margin-left: 8px
}

.o-header_title {
    display: inline-block;
    padding: 0 0 8px;
    line-height: 1.2;
    text-transform: uppercase
}

.o-header_title:not(span):hover {
    text-decoration: none
}

.o-header_title {
    letter-spacing: .02em;
    font-size: 20px
}

.o-news_title {
    font-size: 16px;
}

.o-news_image:first-child {
    margin-bottom: 16px;
}

.o-news_figure--left, .o-news_image--left {
    float: left;
}

.o-news_figure--left, .o-news_figure--right, .o-news_image--left, .o-news_image--right {
    max-width: 33.333%;
    margin-right: 8px;
}

.o-news_content {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 20px;
}

.o-news {
    clear: both;
    display: block;
}

.o-news:after, .o-news:before {
    content: " ";
    display: table
}

.o-news:after {
    clear: both
}

.o-news_content:after, .o-news_content:before {
    content: " ";
    display: table
}

.o-news_content:after {
    clear: both
}

.o-news_content--left, .o-news_content--right {
    max-width: 33.333%;
    margin-right: 8px
}

.o-news_content--left {
    float: left
}

.o-news_content--right {
    float: right
}

.o-news_content--blog {
    padding-top: 0;
    padding-bottom: 0
}

.o-news_content:hover {
    text-decoration: none
}

.o-news_content:hover .o-news_category {
    background-position: 0 0
}

.o-news_category, .o-news_content, .o-news_figure {
    display: block;
}

.o-post_byline {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-width: 1px 0;
    border-style: solid;
    padding-top: 4px;
    padding-bottom: 4px;
}

.o-post_byline {
    color: #333;
    border-color: #ccc;
    margin-bottom: 20px;
}

.o-post_title {
    display: block;
    margin-bottom: 8px;
}

.o-post_title {
    font-size: 2em;
    color: #2667a7;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .o-post_title {
        font-size: 2.285714286em;
    }
}

.o-news_thumb {
    display: block;
    float: left;
    width: 30%;
    height: auto;
    margin-right: 16px;
}

.c-article_figure--left {
    float: left;
}

.o-post_header {
    position: initial;
}

.c-article_figure--left, .c-article_figure--right {
    max-width: calc(50% - 16px);
    margin-right: 16px;
}

.btn_vermais {
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: #222222;
    padding: 8px 10px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.btn_vermais:hover {
    background: #b51205;
}